
// variables using theme 
:root {
  --navy: #092340;
  --light-blue: #AAE7FD;
  --gray-600: #F4F4F4;
  --gray-700: #D9D9D9;
  --gray-800: #AAA;
  --gray-900: #333;
  --mj-blue: #0076B6;
  --white-color: #FFF;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  --border-radius: 1rem;
  --transition-time: .3s ease;
  /* Kendo UI Colors */
  --kendo-color-primary: #0076B6;
  --kendo-color-secondary: #092340;
  --kendo-color-primary-hover: #0076B6;
  --kendo-color-secondary-hover: #092340;
  --kendo-color-primary-on-surface: #0076B6;
}