.header-banner {
   height: 150px;
   min-height: 150px;
   background: var(--primary);
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 0 16px;
   box-sizing: border-box;
}
 
.sidebar {
   flex: 0 0 250px; /* Fixed width for the sidebar */
}
 

.home-auth-button-container{
   align-items: center;
   justify-content: center;
}

.home-auth-button-container button{
   padding: 15px 30px;
   font-size: 18px;
   margin: 10px;
}

.content-wrapper {
   display: flex;
   flex-direction: row; /* Arrange children in a row */
}

app-side-nav {
   flex: 0 0 225px; /* Fixed width for the side nav */
   /* You can adjust the width as needed */
}

.main-content {
   flex: 1; /* Take up the remaining space */
}