.tab-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gl-container {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
}

.tab-content-container {
  background: white;
  color: #333;
  padding: 20px;
}

// Override Golden Layout dark backgrounds
:host ::ng-deep {
  .lm_content {
    background: white !important;
  }

  .lm_item_container {
    background: white !important;
  }
}
