.detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns: one for field names and one for values */
    gap: 10px;

    margin: 10px;
    border: 1px solid #ccc;
  }
  
  .grid-header {
    font-weight: bold;
    border-bottom: solid 1px black;
  }
  
  .grid-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }  