{
  "openapi": "3.1.0",
  "info": {
    "title": "Wild Apricot Admin API",
    "description": "\nThis is Wild Apricot's API for administrators. You can use it if you already have a Wild Apricot account (typically with a website on  *.wildapricot.org). Otherwise, please use https://register.wildapricot.com to create a new account.\n\nIf you have any questions about this API, please contact our support team at support@wildapricot.com.\n",
    "version": "9.14.0-oas3"
  },
  "servers": [
    {
      "url": "https://api.wildapricot.org/v2.3"
    }
  ],
  "security": [
    {
      "OAuth2_autorizationCode": []
    },
    {
      "OAuth2_password": []
    },
    {
      "OAuth2_clientCredentials": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "GetApiResources",
        "summary": "Base URL for specific API version.",
        "description": "base URL for specific API version. It provides a list of resources that can be directly accessible by URL without providing any additional information like account ID etc.",
        "responses": {
          "200": {
            "description": "Array of resources",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "GetAccountsList",
        "summary": "List of available accounts",
        "description": "List of accounts available with current oAuth token. Typicaly here would\nbe only one record in an array\n",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "An array of accounts",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "GetAccount",
        "summary": "Details for specific account",
        "description": "Details for specific account\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Contacts list",
        "description": "\nContacts search can be executed in synchronous and asynchronous manner. It depends on $async query string parameters.\n  # Synchronous call\n  When API call is processing synchronously, then response is just an array of contacts.\n  To make a synchronous contacts search, client application should make a request with query string parameter **$async=false**.\n\n  `GET https://api.wildapricot.org/v2/accounts/{account_id}/contacts?$async=false&OTHER_QUERY_PARAMS`\n\n  # Asynchronous call\n  Contacts search is processed asynchronously by default. So if client application specifies $async=true, or does not specify this parameter at all, the request is processed as described below. In this case contacts search is a two-step action.\n  - **Search request**. Client specifies search conditions and receives resultId. See $filter and $select parameters for filtering.\n  - **Retrieve result**. Client passes resultId and receives request processing status and contacts list if request is already processed\n\n![async contact search diagramm](http://localhost:8019/Content/swagger/WAFiles/ContactListAsyncCall.png)\n",
        "operationId": "GetContactsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "$async",
            "in": "query",
            "description": "\nControls whether the API call is perform asynchronously. Default value if true.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "resultId",
            "in": "query",
            "description": "\nThis parameter is used on a second step of asynchronous search. It should equal to the value of ResultId in response to the first step of asynchronous search.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "\nFilters the results of the Contacts API call so that only those records that match the filter criteria are included.\nSee [Filtering the results](http://gethelp.wildapricot.com/en/articles/502#filtering) for details.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Controls which fields are returned in the Contacts API call.  The field names correspond to the fields returned by the [ContactFields API call](#/Contacts.CustomFields/GetContactFieldDefinitions), not the field names that appear in Wild Apricot. Multiple field names are separated by commas, and field names with spaces or special characters are enclosed in single quotation marks.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "\nOrdering expression. There are 2 sorting options - **Name** and  **MemberSince**. And also 2 direction modifiers - **asc** and **desc**.\n---\nExample of valid expression - MemberSince asc\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simpleQuery",
            "in": "query",
            "description": "\nsimpleQuery is a parameter which allows you to search for contacts by matching a substring in first name, last name, organization, email or phone. This is simpler than using $filter parameter. \n",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pagingSkip"
          },
          {
            "$ref": "#/components/parameters/pagingTop"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "\nSpecifies that the result should contain only a total number of records matching criteria. Requests with specified $count parameter are always processed as synchronous.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "idsOnly",
            "in": "query",
            "description": "\nWhen idsOnly specified, the API returns only a list of identifiers matching criteria.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A wrapper object, which contains a list of contacts, contact identifiers, contacts count or information about asynchronous search request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact or member record",
        "operationId": "CreateContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "\n- Values for read-only or unrecognized fields will be ignored.\n- In order to **assign membership**\n  - set MembershipEnabled=true\n  - set MembershipLevel.Id to id of desired level\n\n- In order to **assign bundle** membership\n  - set MembershipEnabled=true\n  - set MembershipLevel.Id to id of some bundle level\n  - set 'Member role' field value to json '{ \"Label\": \"ROLE\" }' where ROLE is \"Bundle coordinator\" or \"Bundle member\"\n  - For bundle member set field 'Bundle ID' to value of bundle identifier. The bundle ID is returned by the [Bundles API call](https://gethelp.wildapricot.com/en/articles/504) when using it to retrieve bundle information for a particular membership level.\n",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns created contact record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contactExtendedMembershipInfo"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/contactExtendedMembershipInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/contacts/me": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve information about current contact",
        "operationId": "GetCurrentContactInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "information about current contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsMe"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsMe"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve information about specific member or contact",
        "operationId": "GetContactDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Unique contact identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "getExtendedMembershipInfo",
            "in": "query",
            "description": "\nWhen GetExtendedMembershipInfo specified the API returns the information about membership order status, membership invoice and allowed actions for current member status.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "information about specific member or contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contactExtendedMembershipInfo"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/contactExtendedMembershipInfo"
                }
              }
            }
          },
          "401": {
            "description": "oAuth token was not provided, invalid or does not provide access to requested URL.",
            "content": {}
          },
          "404": {
            "description": "Requested item not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests from same account. Wait for a minute and try again.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update information about existing member or contact",
        "description": "In order to update contact details it is recommended to provide only the custom fields you want to modify. See POST .../contacts for more details.\n",
        "operationId": "UpdateContactDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Unique contact identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated version of contact information.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contactExtendedMembershipInfo"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/contactExtendedMembershipInfo"
                }
              }
            }
          },
          "401": {
            "description": "oAuth token was not provided, invalid or does not provide access to requested URL.",
            "content": {}
          },
          "404": {
            "description": "Requested item not found.",
            "content": {}
          },
          "429": {
            "description": "Too many requests from same account. Wait for a minute and try again.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "contact"
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "description": "Delete an archived contact",
        "operationId": "DeleteContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Unique contact identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/AcceptTermsOfUse": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Accepts Terms of Use.",
        "description": "Accepts Wild Apricot Terms of Use for currently loged in user. Does nothing if accepted already.\n",
        "operationId": "AcceptTermsOfUse",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/Send2FACode": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Send 2FA code to current user email.",
        "description": "Send 2FA code to current user email..\n",
        "operationId": "Send2FACode",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "method",
            "in": "query",
            "description": "Type of invoice.",
            "schema": {
              "type": "string",
              "enum": [
                "Undefined",
                "Email",
                "Sms"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/Verify2FACode": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Verify 2FA code from user email.",
        "description": "Verify 2FA code from user email\n",
        "operationId": "Verify2FACode",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "code",
            "in": "query",
            "description": "Verification code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "Type of invoice.",
            "schema": {
              "type": "string",
              "enum": [
                "Undefined",
                "Email",
                "Sms"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/contactfields": {
      "get": {
        "tags": [
          "Contacts.CustomFields"
        ],
        "summary": "List of custom fields related to contacts and members.",
        "description": "\nThis list contains a list of fields of 2 different types.\n - System fields are defined by Wild Apricot system and cannot be removed.\n - Custom fields can be defined by administrator to store some data specific to your account.\n",
        "operationId": "GetContactFieldDefinitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "showSectionDividers",
            "in": "query",
            "description": "Default value is false. Specifies whether section dividers also should be included in the response.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of contact field descriptions",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactFieldDescription"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts.CustomFields"
        ],
        "summary": "Creates a new contact / membership field",
        "operationId": "CreateContactFieldDefinition",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactFieldParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "created field identifier",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/contactfields/{contactFieldId}": {
      "put": {
        "tags": [
          "Contacts.CustomFields"
        ],
        "summary": "Updates an existing contact / membership field",
        "description": "Limitations: field type cannot be changed; contact field cannot be transformed to membership field or vice versa",
        "operationId": "UpdateContactFieldDefinition",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactFieldId",
            "in": "path",
            "description": "contact field identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactFieldParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "return true if field was updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts.CustomFields"
        ],
        "description": "removes existing field by id",
        "operationId": "DeleteContactFieldDefinition",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactFieldId",
            "in": "path",
            "description": "contact field identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "return true if field was removed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/savedsearches": {
      "get": {
        "tags": [
          "Contacts.SavedSearch"
        ],
        "summary": "List of Saved Searches.",
        "operationId": "GetSavedSearchesList",
        "parameters": [
          {
            "name": "idsOnly",
            "in": "query",
            "description": "When set to true, API returns only collection of identifiers instead of collection of searches.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/pagingSkip"
          },
          {
            "$ref": "#/components/parameters/pagingTop"
          },
          {
            "$ref": "#/components/parameters/pagingCount"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of saved search descriptions",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SavedSearchListItem"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/savedsearches/{savedSearchId}": {
      "get": {
        "tags": [
          "Contacts.SavedSearch"
        ],
        "summary": "Saved Search and found contacts.",
        "operationId": "GetSavedSearchDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "savedSearchId",
            "in": "path",
            "description": "Saved Search identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "excludeArchived",
            "in": "query",
            "description": "exclude archived contacts from found ContactIDs.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "\nFilters the results of the Contacts API call so that only those records that match the filter criteria are included.\nSee [Filtering the results](http://gethelp.wildapricot.com/en/articles/502#filtering) for details.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved Search description and found contact IDs",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SavedSearch"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/ceuRecords/{id}": {
      "get": {
        "summary": "Get CEU record by ID",
        "operationId": "GetCeuRecordById",
        "tags": [
          "CeuRecords"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CEU record found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CeuRecord"
                }
              }
            }
          },
          "404": {
            "description": "CEU record not found"
          }
        }
      },
      "put": {
        "summary": "Update CEU record by ID",
        "operationId": "UpdateCeuRecordById",
        "tags": [
          "CeuRecords"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CeuRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CEU record updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CeuRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "CEU record not found"
          }
        }
      },
      "delete": {
        "summary": "Delete CEU record by ID",
        "operationId": "DeleteCeuRecord",
        "tags": [
          "CeuRecords"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "CEU record deleted"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/accounts/{accountId}/ceuRecords": {
      "get": {
        "summary": "Get list of CEU records",
        "operationId": "GetCeuRecords",
        "tags": [
          "CeuRecords"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/pagingSkip"
          },
          {
            "$ref": "#/components/parameters/pagingTop"
          },
          {
            "name": "idsOnly",
            "in": "query",
            "description": "When idsOnly is specified, the API returns only a list of identifiers that match criteria.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ContactId",
            "in": "query",
            "description": "Filter records by ContactId.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ReturnCount",
            "in": "query",
            "description": "Specifies that the result should contain only a total number of records matching criteria.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "description": "When Ids are specified, the API returns only the list matching these identifiers.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A wrapper object containing CEU records, identifiers, or count.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CeuRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "post": {
        "summary": "Add new CEU record",
        "operationId": "AddCeuRecord",
        "tags": [
          "CeuRecords"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CeuRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CEU record created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CeuRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      },
      "put": {
        "summary": "Update CEU record by source reference Id",
        "description": "Update CEU Record by SourceRefId, SourceType, and ContactId.\n- Requires valid values for SourceRefId, SourceType, and ContactId.\n",
        "operationId": "UpdateCeuRecordByExtId",
        "tags": [
          "CeuRecords"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CeuRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CEU record updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CeuRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "CEU record not found"
          }
        }
      }
    },
    "/accounts/{accountId}/pictures/{pictureId}": {
      "get": {
        "tags": [
          "Pictures"
        ],
        "summary": "Download picture",
        "description": "Picture available for specific account.",
        "operationId": "GetPictureContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "pictureId",
            "in": "path",
            "description": "Picture identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullSize",
            "in": "query",
            "description": "Full size picture will be returned. If full size picture does not exist, thumbnail will be returned.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "asBase64",
            "in": "query",
            "description": "Base64 encoded image will be returned.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response is common HttpResponseMessage with content set to picture binary data.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/pictures": {
      "post": {
        "tags": [
          "Pictures"
        ],
        "summary": "Upload pictures",
        "description": "Picture can be uploaded using multipart/form-data POST request (contains Content-Type header set to 'multipart/form-data'). A multipart/form-data request contains a series of parts, each representing a picture. Each part is expected to contain a \"Content-Disposition\" header whose value is \"form-data\". One of its properties (Name, FileName) must be set and have unique value. In case of similar values, only one of those part will be used, others will be dropped. For example, you have uploaded 2 pictures with same Name set to \"name\". If they have different FileName set, it's ok, but if FileName properties are same as well, only one of those pictures will be saved and available for further processing. Keep this in mind.\nLimitations:\n  - Maximum size for one uploaded picture is 10mb.\n  - Maximum request length is 10mb. It means that you can upload one 10mb picture or 10 pictures 1mb each.\n  - Maximum dimensions for uploaded picture are not set, but each picture will be resized to 110px after uploading.\n  - Supported picture types are: png, jpeg, bmp. Bmp pictures will be converted to png format.\n  - Time period after uploading when picture would be available for use is 30 minutes.\n  - Each uploaded picture can be used only once. After first usage it will be removed permanently.\n  - Mime type must be 'image' and must correlate to picture type. If you upload the 'png' with 'image/bmp' mime type set, this picture will be dropped.\n  - In case of uploading several pictures in one request either 'Name' or 'FileName' property of Content-Disposition header must be set. Otherwise the picture will be dropped.\n",
        "operationId": "UploadPicture",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "picture0"
                ],
                "type": "object",
                "properties": {
                  "picture0": {
                    "type": "string",
                    "description": "The uploaded picture0 data",
                    "format": "binary"
                  },
                  "picture1": {
                    "type": "string",
                    "description": "The uploaded picture1 data",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response is simple json object which contains picture guids (see example)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "picture0": {
                      "type": "string",
                      "description": "Picture guid",
                      "examples": [
                        "cldyhbc3.jpeg"
                      ]
                    },
                    "picture1": {
                      "type": "string",
                      "description": "Picture guid",
                      "examples": [
                        "kxdtilz4.jpeg"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Download attachment",
        "description": "Attachment, available for specific account.",
        "operationId": "GetAttachmentContent",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Attachment identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Original",
                "Small",
                "Medium",
                "Medium1",
                "Large"
              ]
            }
          },
          {
            "name": "asBase64",
            "in": "query",
            "description": "Base64 encoded image will be returned.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response is common HttpResponseMessage with content set to attachment binary data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/attachments/GetInfos": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Get attachments infos",
        "description": "Attachment infos, available for specific account.",
        "operationId": "GetAttachmentInfos",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "attachmentIds",
            "in": "query",
            "description": "list of comma separated Attachment identifiers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of attachment descriptions",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileInfo"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/attachments/Upload": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Upload attachments",
        "description": "Upload attachments data and get their identifiers to use for contact values.  Attachment not used for any Contact field value will be deleted in 30 minutes.\n",
        "operationId": "UploadAttachments",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentDataList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An array of attachment descriptions",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileInfo"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/membershiplevels": {
      "get": {
        "tags": [
          "Membership.Levels"
        ],
        "summary": "Get list of all membership levels.",
        "operationId": "GetMembershipLevelsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/pagingSkip"
          },
          {
            "$ref": "#/components/parameters/pagingTop"
          },
          {
            "$ref": "#/components/parameters/pagingCount"
          },
          {
            "name": "idsOnly",
            "in": "query",
            "description": "To get only a list of membership level identifiers as a result.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "You can filter by specifying a set of level IDs. E.g. `ids=1,2,3`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of membership levels.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MembershipLevel"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/membershiplevels/{levelId}": {
      "get": {
        "tags": [
          "Membership.Levels"
        ],
        "summary": "Retrieve information about specific membership level",
        "operationId": "GetMembershipLevelDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "levelId",
            "in": "path",
            "description": "Unique membership level identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "information about specific membership level",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipLevel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipLevel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/bundles": {
      "get": {
        "tags": [
          "Membership.Bundles"
        ],
        "summary": "Get list of membership bundles.",
        "operationId": "GetMembershipBundlesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "levelId",
            "in": "query",
            "description": "Provide this parameter to get only bundles related to specific membership level.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bundles matching query parameters.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bundle"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/bundles/{bundleId}": {
      "get": {
        "tags": [
          "Membership.Bundles"
        ],
        "summary": "Get membership bundle details.",
        "operationId": "GetMembershipBundle",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "bundleId",
            "in": "path",
            "description": "Unique bundle identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bundle description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/membergroups": {
      "get": {
        "tags": [
          "Membership.Groups"
        ],
        "summary": "List of Ad Hoc member groups.",
        "operationId": "GetMembershipGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/pagingSkip"
          },
          {
            "$ref": "#/components/parameters/pagingTop"
          },
          {
            "$ref": "#/components/parameters/pagingCount"
          },
          {
            "name": "idsOnly",
            "in": "query",
            "description": "To get only a list of member group identifiers as a result.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "You can filter by specifying a set of group IDs. E.g. `ids=1,2,3`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of member group descriptions",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MembershipGroupListItem"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/membergroups/{memberGroupId}": {
      "get": {
        "tags": [
          "Membership.Groups"
        ],
        "summary": "Ad Hoc member group.",
        "operationId": "GetMembershipGroupDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "memberGroupId",
            "in": "path",
            "description": "member group identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeArchivedMembers",
            "in": "query",
            "description": "include archived contacts in ContactIds list. Default - true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "member group description",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/ApprovePendingMembership": {
      "post": {
        "tags": [
          "Membership.Operations"
        ],
        "summary": "Approve pending membership.",
        "description": "\nAvailability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.\n",
        "operationId": "ApprovePendingMembership",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Contact ID to approve membership",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/RejectPendingMembership": {
      "post": {
        "tags": [
          "Membership.Operations"
        ],
        "summary": "Reject pending membership.",
        "description": "\nAvailability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.\n",
        "operationId": "RejectPendingMembership",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Contact ID to reject membership",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Events list",
        "operationId": "GetEventsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "$async",
            "in": "query",
            "description": "\nControls whether the API call is perform asynchronously. Default value if true.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "resultId",
            "in": "query",
            "description": "\nThis parameter is used on a second step of asynchronous search. It should equal to the value of ResultId in response to the first step of asynchronous search.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "\nFilters the results of the Events API call so that only those records that match the filter criteria are included.\nThe following filter criterias are supported:\n\n  - Id, Supported operations: in.\n  - RegistrationEnabled, Supported operations: eq, ne.\n  - IsUpcoming, Supported operations: eq, ne.\n  - Tags, Supported operations: in.\n  - StartDate, Supported operations: eq, ne, gt, ge, lt, le.\n  - EndDate, Supported operations: eq, ne, gt, ge, lt, le.\n  - Name, Supported operations: eq, ne, substringof.\n  - TextIndex, Supported operations: substringof.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$sort",
            "in": "query",
            "description": "\nThis parameter can be used to sort list of IDs or list of events. Possible values are\n\n  - ByStartDate asc - sort events by their Start date. Ascending order.\n  - ByStartDate desc - sort events by their Start date. Descending order.\n  - ByStartSession asc - sort events by start of their sessions (if exists). All past events ignored\n\n  Example: $sort=ByStartDate asc",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pagingSkip"
          },
          {
            "$ref": "#/components/parameters/pagingTop"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "\nSpecifies that result should contain only a total number of records matching criteria. Requests with specified $count parameter are always processed as synchronous.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "idsOnly",
            "in": "query",
            "description": "\nWhen idsOnly specified, the API returns only a list of identifiers matching criteria.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A wrapper object, which contains a list of events, event identifiers or events count.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create a new event record",
        "operationId": "CreateEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Event description",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/EventEditParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns created event record id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve information about specific event",
        "operationId": "GetEventDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique event identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "information about specific event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Update information about existing event",
        "operationId": "UpdateEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique event identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/EventEditParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated version of event information.\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "description": "Completely delete event from system.",
        "operationId": "DeleteEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique event identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/CloneEvent": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Clone existed event.",
        "operationId": "CloneEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CloneEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "created event id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          }
        }
      }
    },
    "/accounts/{accountId}/EventRegistrationTypes": {
      "get": {
        "tags": [
          "Events.EventRegistrationTypes"
        ],
        "summary": "Event registration types list",
        "operationId": "getEventRegistrationTypesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "event identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of event registration types",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistrationTypeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Events.EventRegistrationTypes"
        ],
        "summary": "Creates a new event registration type.",
        "operationId": "CreateEventRegistrationType",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/EventRegistrationTypeEditParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created event registration type ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/EventRegistrationTypes/{typeId}": {
      "get": {
        "tags": [
          "Events.EventRegistrationTypes"
        ],
        "summary": "Event registration type details",
        "operationId": "GetEventRegistrationTypeDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "typeId",
            "in": "path",
            "description": "Unique event registration type identifier",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about specific event registration type",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistrationType"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Events.EventRegistrationTypes"
        ],
        "summary": "Update information about existing event registration type",
        "operationId": "UpdateEventRegistrationType",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "typeId",
            "in": "path",
            "description": "Unique event registration type identifier",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/EventRegistrationTypeEditParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No information returned on successful update"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Events.EventRegistrationTypes"
        ],
        "description": "Completely delete event registration type from the system.",
        "operationId": "DeleteEventRegistrationType",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "typeId",
            "in": "path",
            "description": "Unique event registration type identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/eventregistrations": {
      "get": {
        "tags": [
          "Events.EventRegistrations"
        ],
        "summary": "Event Registrations list",
        "description": "⚠ There are 3 parameters, which can be used simultaneously. Pagination is not applied if $filter or ids set.\n",
        "operationId": "GetEventRegistrationsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "contact identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "event identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results of the Events API call so that only those records that match the filter criteria are included. The following filter criterias are supported:\n  - Id, Supported operations: in.\n    example: ?$filter=id in [1,2,3,4….]\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "description": "If false, registration form data is not retrieved",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeWaitlist",
            "in": "query",
            "description": "Defines if waitlist records should be included in result",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeCanceled",
            "in": "query",
            "description": "Canceled records should be included in result",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "\nSpecifies that result should contain only a total number of records matching criteria.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "idsOnly",
            "in": "query",
            "description": "\nWhen idsOnly specified, the API returns only a list of identifiers matching criteria.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of event registrations",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistrationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Events.EventRegistrations"
        ],
        "summary": "Creates a new event registration.",
        "operationId": "CreateEventRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/EventRegistrationPost"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event registration created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/eventregistrations/{event_registration_id}": {
      "get": {
        "tags": [
          "Events.EventRegistrations"
        ],
        "summary": "Event Registration Details",
        "operationId": "GetEventRegistrationDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "event_registration_id",
            "in": "path",
            "description": "event registration identifier",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Event Registrations",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Events.EventRegistrations"
        ],
        "summary": "Update event registration.",
        "operationId": "UpdateEventRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "event_registration_id",
            "in": "path",
            "description": "event registration identifier",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/EventRegistrationPut"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event registration created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Events.EventRegistrations"
        ],
        "summary": "Event registration",
        "operationId": "DeleteEventRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "event_registration_id",
            "in": "path",
            "description": "event registration identifier",
            "required": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/CheckInEventAttendee": {
      "post": {
        "tags": [
          "Events.EventRegistrations"
        ],
        "summary": "Mark event attendee as checked-in (or remove check-in flag).",
        "operationId": "CheckInEventAttendee",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CheckInParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/RegisterFromWaitlist": {
      "post": {
        "tags": [
          "Events.EventRegistrations"
        ],
        "summary": "Add waitlisted person as event attendee",
        "operationId": "RegisterFromWaitlist",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/RegisterFromWaitlistParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event registration created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/invoices": {
      "get": {
        "tags": [
          "Finances.Invoices"
        ],
        "summary": "Get list of invoices by criteria.",
        "description": "\n⚠ There are 3 parameters, which cannot be used simultaneously. API uses only one parameter of contactId, eventId and eventRegistrationId exactly in this order. For example if request contains both contactId and eventId, then API uses only contactId to filter invoices.\n",
        "operationId": "GetInvoicesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Identifier of contact to whom the invoice is assigned.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "Identifier of event. When specified API returns collection of invoices associated with event registrations for the event.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eventRegistrationId",
            "in": "query",
            "description": "Identifier of event registration. When specified API returns invoice related to the registration. Usually a single invoice.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "unpaidOnly",
            "in": "query",
            "description": "When set to true, API returns only unpaid invoices.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "paidOnly",
            "in": "query",
            "description": "When set to true, API returns only paid invoices.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeVoided",
            "in": "query",
            "description": "When set to true, API also returns voided invoices.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "idsOnly",
            "in": "query",
            "description": "When set to true, API returns only collection of identifiers instead of collection of invoices.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "Limits result to invoices created since StartDate.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Limits result to invoices created before EndDate.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/pagingSkip"
          },
          {
            "$ref": "#/components/parameters/pagingTop"
          },
          {
            "$ref": "#/components/parameters/pagingCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of invoices that match criteria.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Finances.Invoices"
        ],
        "summary": "Creates a new invoice.",
        "operationId": "CreateInvoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoiceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created invoice ID",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Finances.Invoices"
        ],
        "summary": "Retrieve information about specific invoice",
        "operationId": "GetInvoiceDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Unique invoice identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "information about specific invoice",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Finances.Invoices"
        ],
        "summary": "Update existing invoice information",
        "operationId": "UpdateInvoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns 200 on successful data update"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Finances.Invoices"
        ],
        "summary": "Delete existing invoice",
        "operationId": "DeleteInvoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 on successful invoice deletion"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/GenerateInvoiceForPendingMembership": {
      "post": {
        "tags": [
          "Membership.Operations"
        ],
        "summary": "Generate or update invoice for pending membership.",
        "description": "\nAvailability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions. If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.\n",
        "operationId": "GenerateInvoiceForPendingMembership",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Contact ID with pending membership",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "updateIfExists",
            "in": "query",
            "description": "update the invoice items if already exists",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/rpc/{accountId}/GenerateInvoiceForEventRegistration": {
      "post": {
        "tags": [
          "Finances.Invoices"
        ],
        "summary": "Generate or update invoice for existing event registration.",
        "operationId": "GenerateInvoiceForEventRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "eventRegistrationId",
            "in": "query",
            "description": "Event registration ID with pending membership",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "updateIfExists",
            "in": "query",
            "description": "If set to true and invoice already exists, API will update the invoice items.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "created or updated invoice",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          }
        }
      }
    },
    "/rpc/{accountId}/VoidInvoice": {
      "post": {
        "tags": [
          "Finances.Invoices"
        ],
        "summary": "Void active invoice.",
        "description": "See https://gethelp.wildapricot.com/en/articles/76#voiding for details on invoice voiding",
        "operationId": "VoidInvoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "invoiceId",
            "in": "query",
            "description": "invoiceId ID to void",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "429": {
            "$ref": "#/components/responses/tooManyRequests"
          }
        }
      }
    },
    "/accounts/{accountId}/payments": {
      "get": {
        "tags": [
          "Finances.Payments"
        ],
        "summary": "Get list of payments by criteria.",
        "operationId": "GetPaymentsList",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Identifier of contact who made the payment.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eventId",
            "in": "query",
[...]
