{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Marketing Aeo",
    "description" : "Basepom for all HubSpot Projects",
    "version" : "2026-09-beta",
    "x-hubspot-product-tier-requirements" : {
      "marketing" : "FREE",
      "sales" : "FREE",
      "service" : "FREE",
      "cms" : "FREE",
      "commerce" : "FREE",
      "crmHub" : "FREE",
      "dataHub" : "FREE"
    }
  },
  "servers" : [ {
    "url" : "https://api.hubapi.com"
  } ],
  "tags" : [ {
    "name" : "Basic"
  } ],
  "paths" : {
    "/marketing/aeo/2026-09-beta/prompt-runs/{runUuid}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve prompt run",
        "description" : "Retrieve detailed information about a specific prompt run using its unique identifier. This endpoint provides insights into the run's state, associated AI model, citations, and mentions. It is useful for tracking the progress and results of a prompt run within the Answer Engine Visibility system.",
        "operationId" : "get-/marketing/aeo/2026-09-beta/prompt-runs/{runUuid}",
        "parameters" : [ {
          "name" : "runUuid",
          "in" : "path",
          "description" : "The unique identifier of the prompt run to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPromptRunDetail"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.aeo.read" ]
        } ]
      }
    },
    "/marketing/aeo/2026-09-beta/prompts" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List prompts",
        "description" : "Retrieve a list of prompts from the AnswerEngineVisibilityPublicApi. This endpoint allows you to filter and sort prompts based on various criteria, such as creation date and business unit. Use this endpoint to manage and view prompts efficiently.",
        "operationId" : "get-/marketing/aeo/2026-09-beta/prompts",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource, used for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "businessUnitId",
          "in" : "query",
          "description" : "The ID of the business unit to filter prompts by. Defaults to '0'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "0"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Filter prompts created after this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Filter prompts by their exact creation date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Filter prompts created before this date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The criteria by which to sort the results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicPromptForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.aeo.read" ]
        } ]
      }
    },
    "/marketing/aeo/2026-09-beta/prompts/{promptId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve prompt",
        "description" : "Retrieve detailed information about a specific prompt, including its visibility settings, using the prompt's unique identifier. This endpoint is useful for obtaining insights into a prompt's configuration and its associated data within the specified date range.",
        "operationId" : "get-/marketing/aeo/2026-09-beta/prompts/{promptId}",
        "parameters" : [ {
          "name" : "promptId",
          "in" : "path",
          "description" : "The unique identifier of the prompt to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "The end date for filtering the prompt's visibility data. Format should be a string.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "The start date for filtering the prompt's visibility data. Format should be a string.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicPromptWithVisibility"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.aeo.read" ]
        } ]
      }
    },
    "/marketing/aeo/2026-09-beta/prompts/{promptId}/runs" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List prompt runs",
        "description" : "Retrieve a list of runs for a specific prompt in the Answer Engine Visibility API. This endpoint allows you to filter runs based on creation dates and paginate through results. Useful for tracking the execution history of a specific prompt.",
        "operationId" : "get-/marketing/aeo/2026-09-beta/prompts/{promptId}/runs",
        "parameters" : [ {
          "name" : "promptId",
          "in" : "path",
          "description" : "The unique identifier of the prompt for which to retrieve runs.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Filter runs created after the specified date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Filter runs by the exact creation date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Filter runs created before the specified date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicPromptRunForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.aeo.read" ]
        } ]
      }
    },
    "/marketing/aeo/2026-09-beta/recommendations" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List recommendations",
        "description" : "Retrieve a list of recommendations from the AnswerEngineVisibilityPublicApi. This endpoint allows users to filter and sort recommendations based on various criteria such as prompt ID, status, and recommendation type. It supports pagination and sorting to efficiently manage large sets of data.",
        "operationId" : "get-/marketing/aeo/2026-09-beta/recommendations",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Filter recommendations created after a specific date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Filter recommendations by their creation date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Filter recommendations created before a specific date.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "promptId",
          "in" : "query",
          "description" : "Filter recommendations by a specific prompt ID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recommendationType",
          "in" : "query",
          "description" : "Filter recommendations by their type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort the recommendations based on specified criteria.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Filter recommendations by their status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicRecommendationForwardPaging"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.aeo.read" ]
        } ]
      }
    },
    "/marketing/aeo/2026-09-beta/recommendations/{recommendationId}" : {
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Retrieve recommendation",
        "description" : "Retrieve a specific recommendation by its unique identifier. This endpoint is useful for accessing detailed information about a particular recommendation within your HubSpot account.",
        "operationId" : "get-/marketing/aeo/2026-09-beta/recommendations/{recommendationId}",
        "parameters" : [ {
          "name" : "recommendationId",
          "in" : "path",
          "description" : "The unique identifier of the recommendation to retrieve.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicRecommendation"
                }
              }
            }
          },
          "default" : {
            "description" : "",
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2" : [ "marketing.aeo.read" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "CollectionResponsePublicPromptForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of PublicPrompt objects, representing the individual prompts in the collection.",
            "items" : {
              "$ref" : "#/components/schemas/PublicPrompt"
            }
          }
        }
      },
      "CollectionResponsePublicPromptRunForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public prompt run objects. Each object contains details about a specific prompt run.",
            "items" : {
              "$ref" : "#/components/schemas/PublicPromptRun"
            }
          }
        }
      },
      "CollectionResponsePublicRecommendationForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "description" : "An array of public recommendations. Each item in the array is a PublicRecommendation object.",
            "items" : {
              "$ref" : "#/components/schemas/PublicRecommendation"
            }
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "category" : {
            "type" : "string",
            "description" : "The error category, represented as a string."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "An object providing context about the error condition. It contains additional properties where each key is a string and each value is an array of strings.",
            "example" : "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request, provided as a UUID. Include this value with any error reports or support tickets.",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "errors" : {
            "type" : "array",
            "description" : "An array providing further information about the error. Each item in the array is an object of type ErrorDetail.",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps. Each key is a string and each value is a string representing a URI."
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate. It is a string.",
            "example" : "An error occurred"
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error, represented as a string."
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail. It is a string."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition, represented as an object where each key is a string and each value is an array of strings.",
            "example" : "{missingScopes=[scope1, scope2]}"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found. It is a string."
          },
          "message" : {
            "type" : "string",
            "description" : "A human-readable message describing the error along with remediation steps where appropriate. It is a string."
          },
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error. It is a string."
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "NextPage" : {
        "required" : [ "after" ],
        "type" : "object",
        "properties" : {
          "after" : {
            "type" : "string",
            "description" : "A string token used as a cursor to retrieve the next set of results in a paginated response."
          },
          "link" : {
            "type" : "string",
            "description" : "A URL string pointing to the next page of results in the paginated response."
          }
        },
        "description" : "Specifies the paging information needed to retrieve the next set of results in a paginated API response"
      },
      "PublicCitation" : {
        "required" : [ "title", "url" ],
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "description" : "The title of the citation. It is a string that provides a brief description or name of the citation source."
          },
          "url" : {
            "type" : "string",
            "description" : "The URL of the citation source. It is a string representing the web address where the citation can be found."
          }
        }
      },
      "PublicPrompt" : {
        "required" : [ "aiAssistants", "businessUnitId", "createdAt", "id", "prompt" ],
        "type" : "object",
        "properties" : {
          "aiAssistants" : {
            "type" : "array",
            "description" : "An array of AI assistants associated with the prompt.",
            "items" : {
              "type" : "string"
            }
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "The identifier for the business unit associated with the prompt."
          },
          "buyingJourneyPhase" : {
            "type" : "string",
            "description" : "The phase of the buying journey that the prompt is associated with."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the prompt was created, in ISO 8601 format.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the public prompt."
          },
          "language" : {
            "type" : "string",
            "description" : "The language in which the prompt is written."
          },
          "prompt" : {
            "type" : "string",
            "description" : "The text content of the prompt."
          }
        }
      },
      "PublicPromptRun" : {
        "required" : [ "aiModel", "competitorMentions", "createdAt", "id", "ownedMentions", "promptId", "state", "totalCitations", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "aiModel" : {
            "type" : "string",
            "description" : "The AI model used for this prompt run."
          },
          "competitorMentions" : {
            "type" : "integer",
            "description" : "The number of mentions related to competitors during this prompt run.",
            "format" : "int32"
          },
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when this prompt run was completed, in ISO 8601 format.",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this prompt run was created, in ISO 8601 format.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this prompt run."
          },
          "ownedMentions" : {
            "type" : "integer",
            "description" : "The number of mentions owned by the user during this prompt run.",
            "format" : "int32"
          },
          "promptId" : {
            "type" : "string",
            "description" : "The unique identifier of the prompt associated with this run."
          },
          "state" : {
            "type" : "string",
            "description" : "The current state of the prompt run."
          },
          "totalCitations" : {
            "type" : "integer",
            "description" : "The total number of citations generated during this prompt run.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this prompt run was last updated, in ISO 8601 format.",
            "format" : "date-time"
          }
        }
      },
      "PublicPromptRunDetail" : {
        "required" : [ "aiModel", "citations", "competitorMentions", "createdAt", "id", "ownedMentions", "promptId", "searchQueries", "state", "totalCitations", "updatedAt" ],
        "type" : "object",
        "properties" : {
          "aiModel" : {
            "type" : "string",
            "description" : "The AI model used for this prompt run."
          },
          "citations" : {
            "type" : "array",
            "description" : "An array of citations that provide references or sources related to the prompt run.",
            "items" : {
              "$ref" : "#/components/schemas/PublicCitation"
            }
          },
          "competitorMentions" : {
            "type" : "integer",
            "description" : "The number of mentions related to competitors in the context of this prompt run.",
            "format" : "int32"
          },
          "completedAt" : {
            "type" : "string",
            "description" : "The date and time when the prompt run was completed, in ISO 8601 format.",
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when this prompt run was created, in ISO 8601 format.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for this prompt run."
          },
          "ownedMentions" : {
            "type" : "integer",
            "description" : "The number of mentions owned by the entity running the prompt.",
            "format" : "int32"
          },
          "promptId" : {
            "type" : "string",
            "description" : "The unique identifier of the prompt associated with this run."
          },
          "responseText" : {
            "type" : "string",
            "description" : "The text response generated by the prompt run."
          },
          "searchQueries" : {
            "type" : "array",
            "description" : "An array of search queries used during the prompt run.",
            "items" : {
              "type" : "string"
            }
          },
          "state" : {
            "type" : "string",
            "description" : "The current state of the prompt run."
          },
          "totalCitations" : {
            "type" : "integer",
            "description" : "The total number of citations associated with this prompt run.",
            "format" : "int32"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "The date and time when this prompt run was last updated, in ISO 8601 format.",
            "format" : "date-time"
          }
        }
      },
      "PublicPromptWithVisibility" : {
        "required" : [ "aiAssistants", "businessUnitId", "createdAt", "id", "prompt" ],
        "type" : "object",
        "properties" : {
          "aiAssistants" : {
            "type" : "array",
            "description" : "An array of AI assistants associated with the prompt.",
            "items" : {
              "type" : "string"
            }
          },
          "businessUnitId" : {
            "type" : "string",
            "description" : "The identifier for the business unit associated with the prompt."
          },
          "buyingJourneyPhase" : {
            "type" : "string",
            "description" : "The phase of the buying journey that the prompt is associated with."
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the prompt was created, in ISO 8601 format.",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the prompt."
          },
          "language" : {
            "type" : "string",
            "description" : "The language in which the prompt is written."
          },
          "prompt" : {
            "type" : "string",
            "description" : "The text of the prompt."
          },
          "visibility" : {
            "type" : "object",
            "properties" : { },
            "description" : "An object representing the visibility settings of the prompt."
          }
        }
      },
      "PublicRecommendation" : {
        "required" : [ "createdAt", "endDate", "id", "influencingCitations", "promptIds", "recommendationType", "startDate", "status" ],
        "type" : "object",
        "properties" : {
          "actionCategory" : {
            "type" : "string",
            "description" : "The category of action suggested by the recommendation. Valid values include 'CREATE_CONTENT', 'UPDATE_CONTENT', 'OUTREACH', and 'UPDATE_ROBOTS'.",
            "enum" : [ "CREATE_CONTENT", "OUTREACH", "UPDATE_CONTENT", "UPDATE_ROBOTS" ]
          },
          "actionChannel" : {
            "type" : "string",
            "description" : "The channel through which the recommended action should be taken. Valid values include 'YOUTUBE', 'LINKEDIN', 'REDDIT', 'AFFILIATE', 'PR', 'PEER', 'REVIEW_SITE', 'TECHNICAL_SEO', 'OWNED_CONTENT', 'LINKEDIN_ARTICLE', and 'LINKEDIN_POST'.",
            "enum" : [ "AFFILIATE", "LINKEDIN", "LINKEDIN_ARTICLE", "LINKEDIN_POST", "OWNED_CONTENT", "PEER", "PR", "REDDIT", "REVIEW_SITE", "TECHNICAL_SEO", "YOUTUBE" ]
          },
          "answerEngine" : {
            "type" : "string",
            "description" : "The answer engine used to generate the recommendation. Valid values include 'CHATGPT', 'GEMINI', and 'CLAUDE'.",
            "enum" : [ "CHATGPT", "CLAUDE", "GEMINI" ]
          },
          "associatedContentUrl" : {
            "type" : "string",
            "description" : "The URL of the content associated with the recommendation."
          },
          "contentTopic" : {
            "type" : "string",
            "description" : "A string representing the topic of the content related to the recommendation."
          },
          "contentType" : {
            "type" : "string",
            "description" : "The type of content associated with the recommendation. Valid values include 'UNKNOWN', 'LISTICLE', 'COMPARISON', 'PRODUCT', 'BLOG', 'DOCUMENTATION', 'WIKI', 'NEWS', 'PR', 'RESEARCH', 'USER_REVIEW', 'SOCIAL', 'HOW_TO', 'GUIDE', 'EDUCATIONAL', 'HOMEPAGE', 'MULTIMEDIA', 'ARTICLE', and 'DOMAIN'.",
            "enum" : [ "ARTICLE", "BLOG", "COMPARISON", "DOCUMENTATION", "DOMAIN", "EDUCATIONAL", "GUIDE", "HOMEPAGE", "HOW_TO", "LISTICLE", "MULTIMEDIA", "NEWS", "PR", "PRODUCT", "RESEARCH", "SOCIAL", "UNKNOWN", "USER_REVIEW", "WIKI" ]
          },
          "createdAt" : {
            "type" : "string",
            "description" : "The date and time when the recommendation was created, in ISO 8601 format.",
            "format" : "date-time"
          },
          "domain" : {
            "type" : "string",
            "description" : "The domain associated with the recommendation."
          },
          "endDate" : {
            "type" : "string",
            "description" : "The end date for the recommendation's relevance, formatted as a date.",
            "format" : "date"
          },
          "id" : {
            "type" : "string",
            "description" : "The unique identifier for the recommendation."
          },
          "influencingCitations" : {
            "type" : "array",
            "description" : "An array of strings representing citations that influenced the recommendation.",
            "items" : {
              "type" : "string"
            }
          },
          "justification" : {
            "type" : "string",
            "description" : "The justification for why the recommendation was made."
          },
          "priority" : {
            "type" : "string",
            "description" : "The priority level of the recommendation. Valid values include 'HIGH', 'MEDIUM', and 'LOW'.",
            "enum" : [ "HIGH", "LOW", "MEDIUM" ]
          },
          "promptIds" : {
            "type" : "array",
            "description" : "An array of strings representing the IDs of prompts that influenced this recommendation.",
            "items" : {
              "type" : "string"
            }
          },
          "recommendationSummary" : {
            "type" : "string",
            "description" : "A summary of the recommendation provided."
          },
          "recommendationType" : {
            "type" : "string",
            "description" : "The type of recommendation provided. Valid values include 'DOMAIN', 'URL', 'TECHNICAL', and 'CONTENT'.",
            "enum" : [ "CONTENT", "DOMAIN", "TECHNICAL", "URL" ]
          },
          "startDate" : {
            "type" : "string",
            "description" : "The start date for the recommendation's relevance, formatted as a date.",
            "format" : "date"
          },
          "status" : {
            "type" : "string",
            "description" : "The current status of the recommendation. Valid values include 'NEW', 'IN_PROGRESS', 'COMPLETED', 'ARCHIVED', 'FAILED', 'DISMISSED', and 'DRAFT_CREATED'.",
            "enum" : [ "ARCHIVED", "COMPLETED", "DISMISSED", "DRAFT_CREATED", "FAILED", "IN_PROGRESS", "NEW" ]
          },
          "url" : {
            "type" : "string",
            "description" : "The URL associated with the recommendation."
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "developer_hapikey" : {
        "type" : "apiKey",
        "name" : "hapikey",
        "in" : "query"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "marketing.aeo.read" : ""
            }
          }
        }
      },
      "private_apps" : {
        "type" : "apiKey",
        "name" : "private-app",
        "in" : "header"
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  },
  "x-hubspot-product-tier-requirements" : {
    "marketing" : "FREE",
    "sales" : "FREE",
    "service" : "FREE",
    "cms" : "FREE",
    "commerce" : "FREE",
    "crmHub" : "FREE",
    "dataHub" : "FREE"
  }
}