.order-history-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
    
  .error-message {
    color: red;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
    
  .no-orders {
    text-align: center;
    color: gray;
    font-style: italic;
    margin-top: 20px;
  }
    
  .report-history {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .report-history li {
    margin-bottom: 1rem;
  }
  
  .report-history li:last-child {
    margin-bottom: 0;
  }
  
  .report-history li a {
    font-weight: 700;
  }
  
  .report-download {
    transform: rotate(180deg);
    transition: transform .3s;
  }
  
  .report-download:hover {
    transform: rotate(180deg) scale(1.1);
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #FFF;
    border: 4px solid var(--border-primary);
  }
  
  .order-table th,
  .order-table td {
    padding: 1rem;
    text-align: left;
  }
  
  .order-table td {
    border-bottom: 1px solid var(--border-primary);
  }
  
  .order-table th {
    color: #FFF;
    background-color: var(--primary);
    font-weight: bold;
  }
  
  .order-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .order-table tr.clickable {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .order-table tr.clickable:hover {
    background-color: #EEE;
  }
  
  @media (max-width: 768px) {
    .order-table th,
    .order-table td {
        font-size: 14px;
        padding: 8px;
    }
  }
    