
.main-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 24px;
  padding: 24px 0;
}
.list-view {
  padding: 16px;
  min-width: 300px;
  border-radius: 4px;
  background:  #FAFAFA;
  border: none;
}
::ng-deep .list-view .k-listview-header, 
::ng-deep .list-view .k-listview-footer {
  border: none;
}
::ng-deep .list-view .k-listview-content {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: #fff;
  padding: 16px;
}

.header,
.footer {
  color: #424242;
  font-size: 16px;
  height: auto;
  margin:0;
}

.header {
  color: #424242;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .head-tag {
  display: flex;
  align-items: center;
  gap: 8px;
  color:  #424242;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.header .count {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
}
.footer {
  font-size: 14px;
  margin-top: 16px;
}

.list-item {
  color:  #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  margin: 4px;
}
.card-container {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
.card-header-entity {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.card-header-entity .title-wrap h1 {
  color: #424242;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 15px;
}
.card-header-entity .title-wrap {
  display: flex;
  flex-direction: column;
}
.card-header-entity .title-wrap p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}




 
.view-card .view-icon {
  color: var(--sideNav);
}
.card-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  width: 100% !important;
}
.card-wrapper .k-card-body {
  background: #fff;
  padding: 12px 20px;
}
.card-wrapper .view-card {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding: 4px 15px;
}
.view-card .btn-wrapper {
  display: flex;
  align-items: center;
}

.k-card-body .view-card-content h5 {
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0.18px;
}
.k-card-body .view-card-content p {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 48px;
  margin-bottom: 0;
}
.card-container {
  padding: 0;
  margin: 0;
  box-shadow: none;
}
.card-header-entity {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.card-header-entity .title-wrap h1 {
  color: #424242;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 15px;
}
.card-header-entity .title-wrap {
  display: flex;
  flex-direction: column;
}
.card-header-entity .title-wrap p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.main-area .card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
