FORMAT: 1A
HOST: https://www.eventbriteapi.com/v3/
# Eventbrite API v3
## About our API

| New to APIs? Check out [Intro to APIs](https://www.eventbrite.com/platform/docs/introduction) first to get up to speed. |
| :---------------- | :---------------------------------- | :------------------------------------------------------------------------------------------------ |

The Eventbrite API:
* Is [REST](https://developer.mozilla.org/en-US/docs/Glossary/REST)-based (though we use POST instead of PUT).
* Uses OAuth2 for authorization.
* Always returns responses in [JSON](https://json.org/).

All URLs referenced in the API documentation have the following base: https://www.eventbriteapi.com/v3.

For the examples in this guide, we'll be using the [python-requests](https://github.com/kennethreitz/requests) library.     

## Authentication

1. [Get a Private Token](#get-a-private-token)
2. [(For App Partners) Authorize your Users](#authorize-your-users)
3. [Authenticate API Requests](#authenticate-api-requests)

<a name="get-a-private-token"></a>
### 1. Get a Private Token

a. Log in to your Eventbrite account and visit [your API Keys page](https://www.eventbrite.com/platform/api-keys).

b. Copy your private token.

<a name="authorize-your-users"></a>
### 2. (For App Partners) Authorize your Users

Note: These steps enable you to perform API requests on behalf of other users. To perform API requests on your own behalf, skip to [Authenticate API Requests](#authenticate-api-requests).

#### Authorize Users

What You'll Need:

* API Key
* Client Secret
* Redirect URI

Note: To find this information, visit [your API Key Management page](https://www.eventbrite.com/account-settings/apps).

The Eventbrite API uses [OAuth 2.0](https://oauth.net/2/) for authorization.

There are two ways to authorize users: Server-side and client-side. We strongly recommend handling authorization on the server side for security reasons.

* Server-Side Authorization (Recommended)

    a. Redirect users to our authorization URL, while including your API key and redirect URI as query parameters:
    `https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=YOUR_API_KEY&redirect_uri=YOUR_REDIRECT_URI`

    When the user authorizes your app, your redirect URI will receive a request from our authorization server with your access code included as a query parameter.

    Here's an example of the URI you will be redirected to (with the access code included as a query parameter):
    `http://localhost:8080/oauth/redirect?code=YOUR_ACCESS_CODE`

    b. Send a POST request to `https://www.eventbrite.com/oauth/token` that specifies the grant type and includes your access code, client secret, and API key. This data should be sent as part of your request header.

    Here's an example of a POST request using cURL:

    ```
    curl --request POST \
    --url 'https://www.eventbrite.com/oauth/token' \
    --header 'content-type: application/x-www-form-urlencoded' \
    --data grant_type=authorization_code \
    --data 'client_id=API_KEY \
    --data client_secret=CLIENT_SECRET \
    --data code=ACCESS_CODE \
    --data 'redirect_uri=REDIRECT_URI'
    ```

    The server will verify the access code and call your redirect URI. The user's private token will be available in the JSON response. Use this private token to make API requests on behalf of this user.

* Client-Side Authorization

    a. Redirect users to our authorization URL, while including your API key and redirect URI as query parameters:
    `https://www.eventbrite.com/oauth/authorize?response_type=token&client_id=YOUR_API_KEY&redirect_uri=YOUR_REDIRECT_URI`

    When the user authorizes your app, your redirect URI will receive a request with the private token included as a query parameter.

Next up: Follow the steps in [Authenticate API Requests](#authenticate-api-requests).

<a name="authenticate-api-requests"></a>
### 3. Authenticate API Requests

To authenticate API requests, you'll need to include either your private token or your user's private token.

There are two ways of including your token in an API request:

* Authorization Header

    Include the following in your Authorization header (replacing MYTOKEN with your token):

    { Authorization: Bearer MYTOKEN }

* Query Parameter Authentication

    Include the following at the end of the URL (replacing MYTOKEN with your token):

    /v3/users/me/?token=MYTOKEN

For every user you would like to perform API requests on behalf of, repeat [(For App Partners) Authorize your Users](#authorize-your-users) and [Authenticate API Requests](#authenticate-api-requests).
<a name="best-practices"></a>
### Best practices

These best practices ensure that your authentication and access to the Eventbrite API is successful and secure.

#### Do not use your private token directly in client-side code.

Before you make your application publicly available, ensure that your client-side code does not contain private tokens or any other private information.

#### Delete unneeded API keys

To minimize your exposure to attack, delete any private tokens that you no longer need.

## Errors

When an error occurs during an API request, you will receive:

* An HTTP error status (in the 400-500 range)
* A JSON response containing more information about the error

A typical error response looks like this:

<pre><code>
{
    "error": "VENUE_AND_ONLINE",
    "error_description": "You cannot both specify a venue and set online_event",
    "status_code": 400
}
</code></pre>

See below for descriptions of what each line means:

| Example                                                                      | Description                                                                                                                                                                                                                                       |
| :--------------------------------------------------------------------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
| {                                                                            |                                                                                                                                                                                                                                                   |
| "error": "VENUE_AND_ONLINE",                                                 | “VENUE_AND_ONLINE” is an example of a constant string value for the error. This constant value is what you should base your error handling logic on, because this string won’t change depending on the locale or as the API changes over time.    |
| "error_description": "You cannot both specify a venue and set online_event", | "You cannot both specify a venue and set online_event" is an example of an error description value. This string usually contains a description of the error, and should only be displayed to developers, not your users.                          |
| "status_code": 400                                                           | 400 is an example of a status code value. This value mirrors the HTTP status code you will receive. It’s included for convenience, in case your HTTP client makes it difficult to get status codes, or has one error handler for all error codes. |
|  }                                                                           |                                                                                                                                                                                                                                                   |

### Common Errors

You can find a listing of the individual errors for each endpoint on their endpoint entries, but there are also some common errors that all endpoints might return:

| Status Code | Text                    | Description                                                                                                                                                          |
| :---------- | :---------------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| 301         | PERMANENTLY_MOVED       | Resource must be retrieved from a different URL.                                                                                                                     |
| 400         | ACTION_NOT_PROCESSED    | Requested operation not processed.                                                                                                                                   |
| 400         | ARGUMENTS_ERROR         | There are errors with your arguments.                                                                                                                                |
| 400         | BAD_CONTINUATION_TOKEN  | Invalid continuation token passed.                                                                                                                                   |
| 400         | BAD_PAGE                | Page number does not exist or is an invalid format (e.g. negative).                                                                                                  |
| 400         | BAD_REQUEST             | The resource you’re creating already exists.                                                                                                                         |
| 400         | INVALID_ARGUMENT        | Invalid argument value passed.                                                                                                                                       |
| 400         | INVALID_AUTH            | Authentication/OAuth token is invalid.                                                                                                                               |
| 400         | INVALID_AUTH_HEADER     | Authentication header is invalid.                                                                                                                                    |
| 400         | INVALID_BATCH           | Batched request is missing or invalid.                                                                                                                               |
| 400         | INVALID_BODY            | A request body that was not in JSON format was passed.                                                                                                               |
| 400         | UNSUPPORTED_OPERATION   | Requested operation not supported.                                                                                                                                   |
| 401         | ACCESS_DENIED           | Authentication unsuccessful.                                                                                                                                         |
| 401         | NO_AUTH                 | Authentication not provided.                                                                                                                                         |
| 403         | NOT_AUTHORIZED          | User has not been authorized to perform that action.                                                                                                                 |
| 404         | NOT_FOUND               | Invalid URL.                                                                                                                                                         |
| 405         | METHOD_NOT_ALLOWED      | Method is not allowed for this endpoint.                                                                                                                             |
| 409         | REQUEST_CONFLICT        | Requested operation resulted in conflict.                                                                                                                            |
| 429         | HIT_RATE_LIMIT          | Hourly rate limit has been reached for this token. Default rate limits are 2,000 calls per hour.                                                                     |
| 500         | EXPANSION_FAILED        | Unhandled error occurred during expansion; the request is likely to succeed if you don’t ask for expansions, but <a href="https://www.eventbrite.com/platform/docs/contact" target="_blank">contact Eventbrite support</a> if this problem persists. |
| 500         | INTERNAL_ERROR          | Unhandled error occurred in Eventbrite. <a href="https://www.eventbrite.com/platform/docs/contact" target="_blank">contact Eventbrite support</a> if this problem persists.                                                                          |
## Paginated Responses

### What's in a paginated response?

An Eventbrite paginated response is made up of two main sections: A pagination header and a list of objects. 

Here's an example of a paginated response:

```
{
  "pagination": {
    "object_count": 4,
    "continuation": "AEtFRyiWxkr0ZXyCJcnZ5U1-uSWXJ6vO0sxN06GbrDngaX5U5i8XYmEuZfmZZYB9Uq6bSizOLYoV",
    "page_count": 2,
    "page_size": 2,
    "has_more_items": true,
    "page_number": 1
  },
  "categories": [
    {
      "slug": "email",
      "name_localized": "Email",
      "name": "Email",
      "id": "7"
    },
    {
      "slug": "website",
      "name_localized": "Website",
      "name": "Website",
      "id": "5"
    },
  ]
}
```

Here are descriptions of what each attribute within a pagination header means: 

| Attribute         | Example                             | Description                                                                                       |
| :---------------- | :---------------------------------- | :------------------------------------------------------------------------------------------------ |
| `object_count`    | `4`                                 | The total number of objects found in your response, across all pages.                             |
| `continuation`    | `AEtFRyiWxkr0Z`<br>`XyCJcnZ5U1-uS`<br>`WXJ6vO0sxN06G`<br>`brDngaX5U5i8X`<br>`YmEuZfmZZYB`<br>`9Uq6bSizOLYoV`        | The continuation token you'll use to get to the next set of results by making the same request again but including this token. Your results will always include a new continuation token that you can use to jump to the next page. When all records have been retrieved, the continuation token will return an empty list of objects. |
| `page_count`      | `2`                                 | The total number of pages found in your response.                                                 |
| `page_size`       | `2`                                 | The maximum number of objects that can be returned per page for this API endpoint.                |
| `has_more_items`  | `true`                              | Boolean indicating whether or not there are more items in your response. In this example, the object is “true”, so there are more items. When all records have been retrieved, this attribute will be “false”.                                                                         |
| `page_number`     | `1`                                 | The page number you are currently viewing (always starts at 1).                                   |

### Using a continuation token

Here's how to use a continuation token to jump to the next page of results:

1. Make a call to any listing endpoint that retrieves a paginated response. <br> <br> 
Your format will vary, but it might look something like this: GET https://www.eventbriteapi.com/v3/categories/.
2. Verify that the “has_more_items” attribute is “true” before continuing. If it is “false”, there are no additional pages to retrieve, so you can stop here.
3. Copy the continuation token from your response.
4. Call the endpoint again, after adding a continuation token as a query string parameter to the URI. <br> <br> Your call format will vary, but it might look something like this: https://www.eventbriteapi.com/v3/categories/?**continuation=AEtFRyiWxkr0ZXyCJcnZ5U1-uSWXJ6vO0sxN06GbrDngaX5U5i8XYmEuZfmZZYB9Uq6bSizOLYoV**
5. Repeat until all desired records have been retrieved.

## Expansions

Eventbrite has many models that refer to each other, and often you’ll want to fetch related data along with the primary
model you’re querying—for example, you may want to fetch an organizer along with each event you get back. The way of 
doing this in the Eventbrite API is called "expansions": you can specify a set of relationships to additionally fetch 
with every call, which reduces the number of API requests you must make to obtain your data.

When using expansions, note that each expansion you specify will slow down your API request slightly, so try to use as
few expansions as possible to ensure faster response times.

The available expansions are based on the type of object that the API is returning; each of the return formats lists
available expansions, as you can see in the event and attendee documentation, for example.

### Requesting Expansions

The Eventbrite API is currently undergoing an upgrade to its expansions system, so the ways you request an expansion 
varies based on the API endpoint. The two sections below describe the two different request formats, but important is
determining which request format an API endpoint supports.

If an endpoint's top-level response object contains an attribute named `_type`, that endpoint has been upgraded to
Expansions v2 and also supports Expansions v1 for backwards compatibility. If the top-level response object does not
contain an attribute named `_type`, it has not yet been upgraded and supports <em>only</em> Expansions v1 at this time.

At some point in the future, after all endpoints have been upgraded to Expansions v2, Expansions v1 will be deprecated
and then later removed. Eventbrite will communicate this deprecation period and removal date when the upgrade is
complete and that decision has been made.

#### Expansions v1

If you are already an API user, this is the expansions system with which you are likely already familiar. To request
an expansion, pass a comma-separated list of expansion names as the `expand=` querystring argument in your URL.

<em>For example, to fetch all my own events with organizers and venues expanded:</em>

`/v3/users/me/owned_events/?expand=organizer,venue`

Sometimes you might want to expand the attributes of an object that has itself been returned by an expansion.

<em>For example, you may have a list of orders and want to retrieve the event for each of those orders and the venue
for each of those events:</em>

`/v3/users/me/orders/?expand=event.venue`

Expansions can be nested in this way <b>up to four levels deep</b>.

#### Expansions v2 (Recommended if Available)

This new version of expansions is similar, but keys off the `_type` attributes in the response. A response contains
either a top-level object or a list of top-level objects. In that object or those objects, attribute values might be
other objects or lists of objects. All objects that support expansions will contain a `_type` attribute, and within a
list of objects, the value of `_type` will be the same for all objects. When requesting an expansion, you pass a series
of `expand.[value of _type]=` querystring arguments in the URL, with the value of each argument being the list of
requested expansions for that object type.

Given a normal, non-expanded response like this:

<pre><code>{
    "_type": "event",
    "name": "My Cool Event",
    "organizer_id": "1234",
    "venue_id": "5678",
    ...
}
</code></pre>

You could expand the organizer and venue with the following argument:

`?expand.event=organizer,venue`

Which would result in the following change to the response:

<pre><code>{
    "_type": "event",
    "name": "My Cool Event",
    "organizer_id": "1234",
    "organizer": {
        "id": "1234",
        ...
    },
    "venue_id": "5678",
    "venue": {
        "id": "5678",
        ...
    },
    ...
}
</code></pre>

Expansions v2 normally makes no distinction between top-level and nested expansions. Expansions belong to object types,
not response levels, so you can achieve "nested" expansions by specifying expansions for all the object types you
expect to receive and want to expand at any level. For example, given a normal, non-expanded response like this:

<pre><code>{
    "_type": "order",
    "event_id": "9012",
    ...
}
</code></pre>

You can expand not only the order's event, but also the event's organizer and venue, with these arguments:

`?expand.order=event&expand.event=organizer,venue`

And receive a new response like this:

<pre><code>{
    "_type": "order",
    "event_id": "9012",
    "event": {
        "_type": "event",
        "name": "My Cool Event",
        "organizer_id": "1234",
        "organizer": {
            "id": "1234",
            ...
        },
        "venue_id": "5678",
        "venue": {
            "id": "5678",
            ...
        },
        ...
    },
    ...
}
</code></pre>

However, this will expand all order events and all event organizers and venues, at any level, which may not be what you
wish to achieve. If you know you want an item expanded only at a certain level, you can instead use nested expansions.
These arguments are equivalent to the previous example:

`?expand.order=event,event.organizer,event.venue`

All of these examples are just that—examples. The exact format of a response, and its available expansions, will depend
entirely on which API endpoint you are calling.

## API Switches

### What do switches do?

Switches allow for the dynamic modification of Eventbrite API endpoint behaviors. They can be used to enable new or experimental features, change response formats, and other behaviors. In general, switches are used to ease the process of phasing in new API features that would otherwise break clients. Clients may activate or deactivate switchable features by setting switch headers on API requests.

### Switch lifecycle

A feature and its switch go through three phases:

- Opt-in, in which a new switch will be available to turn on the new feature.
- Opt-out, in which the feature will be on by default and the switch will be available to turn it off.
- Fully integrated, at which time the switch will be deprecated.

> Eventbrite will notify all API consumers before any switchable feature is introduced or enters a new phase.

### Public and protected switches

Switches may be exposed only to certain clients, at Eventbrite’s discretion. Such switches will be restricted to a set of whitelisted API keys, and any client attempting to set a protected switch using a non-whitelisted API key will get a permission error.

Switches that are not protected are available to be used by any client.

### Using switches

#### Making a request using switch headers
Clients use request headers to set switches on API requests. A switch header may contain any number of switch names, separated by commas. Switch names consist of letters, numbers and underscores, and are case-insensitive.

To use the example of a switch called “EVENT_FORMAT_OCT_2016” that activates a new Event serialization format:
<pre><code>GET /v3/events/12345/ Eb-Api-Switches-Enabled: EVENT_FORMAT_OCT_2016
This call will return the event with ID 12345 using the new format.</code></pre>

If the same switch were opt-out, and the client needed to make a request using the old Event format, it would deactivate the switch like so:

<pre><code>GET /v3/events/12345/ Eb-Api-Switches-Disabled: EVENT_FORMAT_OCT_2016
This call would return the event using the old format.</code></pre>

### Errors

A request containing switch headers may return the following error codes:

**409 REQUEST_CONFLICT:** Conflicting switches were passed. This happens if the client passes the same switch in both the Enabled and Disabled headers.
**403 NOT_AUTHORIZED:** The client sent a header for a switch that it is not allowed to set.
**400 BAD_REQUEST:** The client sent a header for a switch that does not exist or has been deprecated.
## Basic Types

### Integer

`10`

A standard JSON integer.

### Boolean

`true`

A standard JSON boolean.

### String

`"Ihre Aal ist r\u00fcckw\u00e4rts"`

A standard JSON string.

(When POSTing data as `application/x-www-form-urlencoded`, use a UTF-8
encoded string instead rather than unicode escapes)

### Float

`72.19381730`

A standard JSON floating-point decimal.

### Decimal

`"72.19381730"`

An arbitrary-precision decimal number encoded as a standard JSON string. Decimals are used in cases where
floating-point arithmetic inaccuracies could arise with standard JSON floating-point decimals.

### Date Types

There are four types of date formats: 

* Date
* Datetime
* Local Datetime
* Datetime with Timezone

#### Date 

`"2010-01-31"`

Date represents a date as a string in ISO8601 date format. If you wish to represent a time as well, you'll need to use Datetime, Local Datetime, or Datetime with Timezone.

#### Datetime

`"2010-01-31T13:00:00Z"`

Datetime represents a date and time as a string in ISO8601 combined date and time format in UTC (Coordinated Universal Time). 

#### Local Datetime

`"2010-01-31T13:00:00"`

Local Datetime represents a date and time as a string in Naive Local ISO8601 date and time format in the timezone of the event.

#### Datetime with Timezone

This value is only used for fields where the timezone itself is important information (for example, event start times).

<pre><code>{
    "timezone": "America/Los_Angeles",
    "utc": "2018-05-12T02:00:00Z",
    "local": "2018-05-11T19:00:00"
}
</code></pre>

| Value                                  | Type       | Description                                   |
| :------------------------------------- | :--------  | :-------------------------------------------- |
| `"timezone": "America/Los_Angeles"`    | `string`   | A timezone value from the Olson specification |
| `"utc": "2018-05-12T02:00:00Z"`        | `datetime` | A datetime value in the UTC timezone          |
| `"local": "2018-05-11T19:00:00`        | `datetime` | A datetime value in the named timezone        |

When being sent as a request:
* `utc` and `timezone` are required
* `local` is ignored

### List

<pre><code>[1, 2, 3, 4]
"1,2,3,4"
</code></pre>

A list of literal values. With a content-type of `application/json`, it
should be a JSON array of literals, otherwise, for
`application/x-www-form-urlencoded` it should be a string than is a comma
separated list of values.

### Object List

<pre><code>[{"name1": "val1", "name2": "val2"}, {...}]
"[{\"name1\": \"val1\", \"name2\": \"val2\"}, {...}]"
</code></pre>

A JSON list of object values. With a content-type of `application/json`, it
should be a JSON array, otherwise, for `application/x-www-form-urlencoded`
it should be a string encoding of a JSON array.

### Dictionary

<pre><code>{"key1": "value1", "key2": {"objectkey": "value"}, "key3": [list_values], {...}}
"{\"key2\": {\"key3\": \"value\"}, \"key1\": \"value\", \"key4\": [\"value\", \"value\"]}"
</code></pre>

A JSON object representation of a dictionary. With a content-type of
`application/json`, it should be a JSON object, otherwise, for
`application/x-www-form-urlencoded` it should be a string encoding
of a JSON object.

### Multipart Text

<pre><code>{
    "text": "Event Name",
    "html": "<b>Event</b> Name",
}
</code></pre>

Returned for fields which represent HTML, like event names
and descriptions.

The `html` key represents the original HTML (which _should_
be sanitized and free from injected script tags etc., but as always, be careful
what you put in your DOM), while the `text` key is a stripped version useful
for places where you can't or don't need to display the full HTML version.

### Country Code

`"AR"`

The ISO 3166 alpha-2 code of a country.

### Currency Code

`"USD"`

An ISO 4217 3-character code of a currency

### Currency

<pre><code>{
    "currency": "USD",
    "value": 432,
    "major_value": "4.32",
    "display": "4.32 USD"
}
</code></pre>

When submitting as form-encoded POST data, you can instead provide a string
indicating the currency and the value separated by a comma, e.g. `USD,432` -
however, when you submit a JSON POST body, you must submit this as a JSON
object with the `currency` and `value` fields.

Returned for monetary values, such as ticket prices, fees charged and
tax amounts.

Currencies are represented as their currency code and an integer value,
where the code is the currency code as defined by
`ISO 4217 <http://en.wikipedia.org/wiki/ISO_4217>`\_ and the integer value
is the number of units of the minor unit of the currency (e.g. cents for
US dollars).

You can get a value in the currency's major unit - for example, dollars
or pound sterling - by taking the integer value provided and shifting the
decimal point left by the exponent value for that currency as defined in
`ISO 4217 <http://en.wikipedia.org/wiki/ISO_4217>`\_.

For example, the exponent for USD (the US dollar) is 2, so a value of
`2311` becomes `$23.11`. For JPY (the Japanese yen) it's 0, so
a value of `2311` becomes `¥2311`.

Eventbrite does not currently sell tickets in non-decimal currencies,
such as the Malagasy ariary (MGA), but any value for them would also be
returned in minor units (for example, `("MGA", 7)` would mean 1.2 MGA,
or 1 ariary and 2 francs).

The `display` value is provided for your convenience; its formatting
may change depending on the locale you query the API with (for example,
commas for decimal separators in European locales).

### Address

<pre><code>{
    "address_1": "333 O'Farrell St",
    "address_2": "Suite 400",
    "city": "San Francisco",
    "region": "CA",
    "postal_code": "94102",
    "country": "US",
    "latitude": "37.7576792",
    "longitude": "-122.5078119",
    "localized_address_display": "333 O'Farrell St Suite 400, San Francisco, CA 94102",
    "localized_area_display": "San Francisco, CA",
    "localized_multi_line_address_display": ["333 O'Farrell St", "Suite 400", "San Francisco, CA 94102"]
}
</code></pre>

Though address formatting varies considerably between different countries and
regions, Eventbrite still has a common address return format to keep things
consistent.

In general, you should treat `address_1`, `address_2`, `city`, and
`region` as opaque lines of the address printed in that order. The
`postal_code` field contains the local postal or zip code equivalent, if
available, and the `country` field contains the `ISO 3166 <http://en.wikipedia.org/wiki/ISO_3166-1>`\_
country code for the country (with the name of the country broken out
for your convenience).

All fields apart from `address_1` and `country` are optional.

#### Address Fields

| Field                                  | Type      | Description                                                                                                                 |
| :------------------------------------- | :-------- | --------------------------------------------------------------------------------------------------------------------------- |
| `address_1`                            | `string`  | The street/location address (part 1)                                                                                        |
| `address_2`                            | `string`  | The street/location address (part 2)                                                                                        |
| `city`                                 | `string`  | The city                                                                                                                    |
| `region`                               | `string`  | The ISO 3166-2 2- or 3-character region code for the state, province, region, or district                                   |
| `postal_code`                          | `string`  | The postal code                                                                                                             |
| `country`                              | `string`  | The ISO 3166-1 2-character international code for the country                                                               |
| `latitude`                             | `decimal` | The latitude portion of the address coordinates                                                                             |
| `longitude`                            | `decimal` | The longitude portion of the address coordinates                                                                            |
| `localized_address_display`            | `string`  | The format of the address display localized to the address country                                                          |
| `localized_area_display`               | `string`  | The format of the address's area display localized to the address country                                                   |
| `localized_multi_line_address_display` | `list`    | The multi-line format order of the address display localized to the address country, where each line is an item in the list |

### Object

<pre><code>{
    "resource_uri": "https://www.eventbriteapi.com/v3/events/3564383166/",
    "id": "3564383166",
}
</code></pre>

The standard base representation for first-class objects in Eventbrite, such
as :format:`event`, :format:`venue` and :format:`order`.

The `resource_uri` is an absolute URL to the API endpoint that will return
you the canonical representation of the event, and the `id` is a
:format:`string` that represents a unique identifer for the event (note
that it is not necessarily numeric).

Other fields on objects are defined on their individual pages, but note that
fields may not be present if their value is `null`; we have noted fields
that may not contain a value with `(optional)`.

## Eventual Consistency

The Eventbrite Platform is large and, as such, contains a great amount of data. In order to provide the fastest
experience practicable to its users, the Platform employs a model known as
[eventual consistency](https://en.wikipedia.org/wiki/Eventual_consistency). In short, new or updated data may not be
available instantly after you submit changes.

### Implications of Eventual Consistency

There are many implications associated with the use of eventual consistency—some of them positive, some of them
unfortunate. The key positive to eventual consistency is that it makes the Platform faster and generally provides a
better, more reliable, and more available experience for users and partners alike. The notable downside is that when
you or someone else creates a new event, modifies an existing event, updates the profile for a venue, or otherwise
modifies data on the Platform, those changes may not be immediately visible.

When you submit a `POST` or `DELETE` request to alter data, the response you receive, if successful, will always contain
the most-up-to-date data, reflecting your changes immediately. However, if you then instantly submit a `GET` request to
obtain that same data, you may get a `404 Not Found` response (if it's new data you created), or the response may
contain stale data (if it's existing data you updated). The time between when you submit your changes and when those
changes are visible across the Platform can vary from as little as 1 second to as much as 5 minutes, depending on the
data and the current amount of traffic the Platform is handling. In almost all circumstances, that time is less than
15 seconds.

### Use Waypoints for Immediate Consistency

There are times where eventual consistency makes it difficult to use the API for rapidly making changes. For example,
creating an event, adding ticket classes to that event, and updating images for that event, all with a set of API calls
that occur over the series of several seconds. Eventbrite Waypoints allow Platform developers to request immediate
consistency during such activities.

A Waypoint is a sort of bookmark to tell the Platform when in the data timeline you expect your data to be found. When
you submit a `POST` or `DELETE` request to alter data, the response you receive, if successful, will contain an
HTTP header named `Eventbrite-API-Waypoint-Token`. The value of this header is the Waypoint for the data you just
created or altered. It is encrypted, but its contents are not important. On the very next response, include a request
header named `Eventbrite-API-Waypoint-Token` with the exact, unaltered value copied from the previous response header.
You should do this even if your next request is a `GET` or another `POST` or `DELETE`. In this way, its use is very
similar to a browser cookie.

Continue to do this for subsequent responses and requests. Each time you receive a response containing the header
`Eventbrite-API-Waypoint-Token`, submit your next request with the header value from that most-recent response. This
will avoid errors commonly associated with eventual consistency, such as `404 Not Found`. There is a downside, however:
submitting these tokens in your requests will slow down the requests by as much as 5 extra seconds on top of the
normal request time for a given endpoint (though usually less than 1 second).

You do not have to hold on to Waypoint tokens indefinitely, and you do not even have to use Waypoint tokens. Once about
5 minutes has passed since your last request, you can discard any Waypoint token you received in that response, and
submit your next request with no Waypoint token header. Also, if eventual consistency does not pose any concerns to
your workflow, you can safely ignore Waypoint tokens entirely.











# Group Attendee

<a name="attendee_object"></a>
## Attendee Object
The Attendee object represents the details of Attendee (ticket holder to an [Event](#event_object)). The model is one Attendee per each sold ticket.

If the Event is specified to only collect information on the [Order](#order_object) owner (the default), all returned Attendees have the same information, apart from the barcodes and [Ticket Class](#ticket_class_object) ID.

Attendee objects are considered private; meaning that all Attendee information is only available to the [User](#user_object) and Order owner.

#### Attendee Fields

|        Field        |                   Type                    |                                               Description                                                                      |
| :------------------ | :---------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------|
| `created`           | `datetime`                                | Attendee creation date and time (i.e. when order was placed).                                                                  |
| `changed`           | `datetime`                                | Date and time of last change to Attendee.                                                                                      |
| `ticket_class_id`   | `string`                                  | Ticket Class used by Attendee when registering.                                                                                |
| `variant_id`        | `string`                                  | Variant of Ticket Class used by Attendee when registering.                                                                     |
| `ticket_class_name` | `string`                                  | Name of Ticket Class used by Attendee when registering.                                                                        |
| `quantity`          | `integer`                                 | Always `1`.                                                                                                                    |
| `costs`             | [attendee_cost](#attendee_cost)           | Attendee ticket cost breakdown.                                                                                                |
| `profile`           | [attendee-profile](#attendee_profile)     | Attendee basic profile information.                                                                                            |
| `addresses`         | [attendee-addresses](#attendee_addresses) | Attendee address.                                                                                                              |
| `questions`         | [attendee-questions](#attendee_questions) | (Optional) Custom questions for the Attendee.                                                                                  |
| `answers`           | [attendee-answers](#attendee_answers)     | (Optional) Attendee's anwers to custom questions.                                                                              |
| `barcodes`          | [attendee-barcodes](#attendee_barcodes)   | Attendee's entry bar code.                                                                                                     |
| `team`              | [attendee-team](#attendee_team)           | (Optional) Attendee team information.                                                                                          |
| `affiliate`         | `attendee-affiliate`                      | (Optional) Attendee’s affiliate code.                                                                                          |
| `checked_in`        | `boolean`                                 | true = Attendee checked in.                                                                                                    |
| `cancelled`         | `boolean`                                 | true = Attendee cancelled.                                                                                                     |
| `refunded`          | `boolean`                                 | true = Attendee receives a refund.                                                                                             |
| `status`            | `string`                                  | Attendee status.                                                                                                               |
| `event_id`          | `string`                                  | Event ID of the Attendee's Event.                                                                                              |
| `order_id`          | `string`                                  | Order ID under which this Attendee's ticket was purchased.                                                                     |
| `guestlist_id`      | `string`                                  | Guest list ID under which the Attendee is listed. A null value means that this Attendee is not a guest.                        |
| `invited_by`        | `string`                                  | Attendee who invited guest. A null value means that this Attendee is not a guest.                                              |
| `delivery_method`   | `string`                                  | Ticket delivery method used for the Attendee. Can be `will_call`, `electronic`, `standard_shipping` or `third_party_shipping`. |

<a name="attendee_cost"></a>
#### Attendee Cost Fields

Contains the Attendee’s cost breakdown.

|      Field       |    Type    |                                                                                     Description                                                                                      |
| :--------------- | :--------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
| `base_price`     | `currency` | Attendee's ticket price excluding fees and tax. Do not expose to Attendee as it displays an incorrect value if the [Ticket Class](#ticket_class_object) `include_fee` field is used. |
| `eventbrite_fee` | `currency` | Attendee's fee. Do not expose this field to Attendee as it displays an incorrect value if the [Ticket Class](#ticket_class_object) `include_fee` field is used.                      |
| `tax`            | `currency` | Amount of tax charged for the ticket.                                                                                                                                                |
| `payment_fee`    | `currency` | Fee for ticket payment processing.                                                                                                                                                   |
| `gross`          | `currency` | Attendee total cost (`base_price` + `eventbrite_fee` + `payment_fee` + `tax`).                                                                                                       |

<a name="attendee_profile"></a>
#### Attendee Profile Fields
Contains Attendee personal information.

|     Field     |   Type    |                                                        Description                                                         |
| :------------ | :-------- | -------------------------------------------------------------------------------------------------------------------------- |
| `name`        | `string`  | Attendee name. To ensure forward compatibility with non-Western names, use this field instead of `first_name`/`last_name`. |
| `email`       | `string`  | Attendee email address.                                                                                                    |
| `first_name`  | `string`  | Attendee first name. Use `name` field instead.                                                                             |
| `last_name`   | `string`  | Attendee last name. Use `name` field instead.                                                                              |
| `prefix`      | `string`  | (Optional) Attendee title or honorific that appears at the front of the name, such as Mr., Ms.                             |
| `suffix`      | `string`  | (Optional) Attendee suffix that appears at the end of the name (e.g. Jr., Sr.)                                             |
| `age`         | `integer` | (Optional) Attendee age.                                                                                                   |
| `job_title`   | `string`  | (Optional) Attendee job title.                                                                                             |
| `company`     | `string`  | (Optional) Attendee company name.                                                                                          |
| `website`     | `string`  | (Optional) Attendee website address.                                                                                       |
| `blog`        | `string`  | (Optional) Attendee blog address.                                                                                          |
| `gender`      | `string`  | (Optional) Attendee gender, currently either “male” or “female”.                                                           |
| `birth_date ` | `date`    | (Optional) Attendee birth date.                                                                                            |
| `cell_phone`  | `string`  | (Optional) Attendee cell/mobile phone number.                                                                              |

<a name="attendee_addresses"></a>
#### Attendee Address Fields
Contains home, shipping, and work addresses associated with the Attendee. All fields are optional.

| Field  |   Type    |        Description         |
| :----- | :-------- | -------------------------- |
| `home` | `address` | Attendee home address.     |
| `ship` | `address` | Attendee shipping address. |
| `work` | `address` | Attendee work address.     |

<a name="attendee_questions"></a>
#### Attendee Questions Fields
Use to present custom questions to an Attendee.

|   Field    |   Type    |                                Description                                 |
| :--------- | :-------- | -------------------------------------------------------------------------- |
| `id`       | `string`  | Custom question ID.                                                        |
| `label`    | `string`  | Custom question label.                                                     |
| `type`     | `string`  | Can be `text`, `url`, `email`, `date`, `number`, `address`, or `dropdown`. |
| `required` | `boolean` | true = Answer is required.                                                 |

<a name="attendee_answers"></a>
#### Attendee Answers Fields
Contains information on an Attendee's answers to custom questions.

|     Field     |   Type   |                                                   Description                                                    |
| :------------ | :------- | ---------------------------------------------------------------------------------------------------------------- |
| `question_id` | `string` | Custom question ID.                                                                                              |
| `question`    | `string` | Text of the custom question.                                                                                     |
| `type`        | `string` | Can be `text`, `url`, `email`, `date`, `number`, `address`, or `dropdown`.                                       |
| `answer`      | varies   | Answer type. Generally use the `string` value; except when an answer of `address` or `date` is more appropriate. |

<a name="attendee_barcodes"></a>
#### Attendee Barcodes Fields
Represents the barcodes for this Attendee Order (usually one Attendee per each sold ticket).

|    Field     |    Type    |                                          Description                                           |
| :----------- | :--------- | ---------------------------------------------------------------------------------------------- |
| `barcode`    | `string`   | Barcode contents. This field value is null when: <br />- User has turned off the printable tickets option. <br />- Method of ticket delivery does not match Attendee. <br />- Attendee method of ticket delivery is not electronic. <br />in order to prevent exposing the barcode value to the Attendee. When viewed by the User with “event.orders:read” permission, the barcode is always shown.                                         |
| `status`     | `string`   | Barcode status. Can be `unused`, `used`, or `refunded`.                                        |
| `created`    | `datetime` | Attendee barcode creation date and time.                                                       |
| `changed`    | `datetime` | Last change date and time to Attendee barcode.                                                 |
| `is_printed` | `boolean`  | true = Ticket is printed.                                                                      |

<a name="attendee_team"></a>

#### Attendee Team Fields
Represents Attendee team information if the Event has teams configured. An Attendee team is a group of Attendees at an Event, for example a team at a sports tournament.

|     Field     |    Type    |          Description           |
| :------------ | :--------- | ------------------------------ |
| `id`          | `string`   | Team ID.                       |
| `name`        | `string`   | Team name.                     |
| `date_joined` | `datetime` | When Attendee joined the team. |
| `event_id`    | `string`   | Event the team is part of.     |

#### Attendee Assigned Unit Fields
Contains details of Attendee seating assignment.

|      Field       |                    Type                     |                                                                                                                                           Description                                                                                                                                           |
| :--------------- | :------------------------------------------ | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `unit_id`        | `string`                                    | Attendee seating assignment ID. This value can never be `null`.                                                                                                                                                                                                                                 |
| `description`    | `string`                                    | Detailed description of seating assignment. This is concatenated from the 'labels' and 'titles' fields. This value can never be `null`.                                                                                                                                                         |
| `location_image` | [unit-location-image] (#unit-location-image) | Physical location of seat assignment on the seatmap. This value is `null` or omitted if seatmap is not published for the Event.                                                                                                                                                                 |
| `labels`         | `list`                                      | Label of seating assignment. This value can never be `null`.                                                                                                                                                                                                                                    |
| `titles`         | `list`                                      | Title of seating assignment. This value can never be `null`. Number of titles are always equal to or more than the number of labels. If seat location is displayed in the grid view, API client is expected to group assigned locations by title and use a separate grid for each unique title. |

#### Attendee Note Fields
The Attendee note representes a free-form text note related to an Attendee.

|     Field      |    Type    |                    Description                     |
| :------------- | :--------- | -------------------------------------------------- |
| `created`      | `datetime` | Note creation date and time.                       |
| `text`         | `string`   | Note content up to 2000 characters.                |
| `type`         | `string`   | This value is always ‘attendee’.                   |
| `event_id`     | `event`    | Event associated with this Attendee note.          |
| `order_id`     | `order`    | Order associated with this Attendee note.          |
| `attendeee_id` | `attendee` | Attendee ID associated with this Attendee note.    |
| `author_name`  | `string`   | First and last name Attendee who created the note. |

<a name="unit-location-image"></a>
#### Unit Location Image Fields
Seat assignment physical coordinate on the seatmap and the corresponding seatmap image URL.

| Field |   Type   |                                                                             Description                                                                              |
| :---- | :------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `url` | `string` | Fully qualified URL of the seatmap image. Currently all seatmap images are in 660x660 .png format. This value can never be `null`.                                   |
| `x`   | `float`  | Seat's x-coordinate location within the seatmap, as measured by % from the left edge of seatmap. The value ranges from 0.0 to 100.0. This value can never be `null`. |
| `y`   | `float`  | Seat's y-coordinate location within the seatmap, as measured by % from the left edge of seatmap. The value ranges from 0.0 to 100.0. This value can never be `null`. |

#### Expansions
Information from expansions fields are not normally returned when requesting information. To receive this information in a request, expand the request.

|         Expansion          |           Source                    |                                    Description                                    |
| :------------------------- | :---------------------------------- | --------------------------------------------------------------------------------- |
| `event`                    | `event_id`                          | Attendee's Event.                                                                 |
| `order`                    | `order_id`                          | Attendee's Order.                                                                 |
| `promotional_code`         | `promotional_code`                  | Promotional Code applied to Attendee's Order.                                     |
| `assigned_number`          | `assigned_number`                   | Attendee bib number, if one exists for a race or endurance Event.                 |
| `answers`                  | ` attendee-answers`                 | (Optional) Attendee answers to custom questions.                                  |
| `survey`                   | `attendee-questions`                | (Optional) Custom questions presented to the Attendee.                            |
| `survey_responses`         | `attendee-survey-responses`(object) | (Optional) Attendee's responses to survey questions.                              |
| `assigned_unit`            | `attendee-assigned-unit`    | (Optional) Attendee’s seating assignment details if Event has reserved seating.   |
| `contact_list_preferences` | `contact_list_preferences`  | (Optional) Opt-in preferences for the email address associated with the Attendee. |

## Retrieve [/attendees/]
### Retrieve an Attendee [GET /events/{event_id}/attendees/{attendee_id}/]
Retrieve an Attendee by Attendee ID.


+ Parameters
    + event_id: 12345 (string, required) - Event ID.
    + attendee_id: 12345 (string, required) - Attendee ID.
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (Attendee)

## List [/attendees-list/]
### List Attendees by Event [GET /events/{event_id}/attendees/]
List Attendees by Event ID. Returns a paginated response.



+ Parameters
    + event_id: 12345 (string, required) - Event ID.
    + status (enum[string], optional) - Filter Attendees by status of either `attending`, `not attending` or `unpaid`.
        + Members
            + attending - Attendee's status is either `Attending` or `Checked In`.
            + not_attending - Attendee's status is `Not Attending` or `Deleted`.
            + unpaid - Attendee's Order is not paid.
    + changed_since (datetime, optional) - Filter Attendees changed on or after the specified time.
    + last_item_seen (number, optional) - When passed in conjunction with `changed_since`, filter Attendees changed on or after the specified time and with an ID later than the value of the`last_item_seen` field.
    + attendee_ids: ['',..] (array[string], optional) - Filter Attendees with the specified IDs.
+ Request
    + Headers
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + attendees (array[Attendee])

### List Attendees by Organization [GET /organizations/{organization_id}/attendees/]
List Attendees of an Organization's Events by Organization ID. Returns a paginated response.


+ Parameters
    + organization_id: 12345 (string, required) -  Organization ID.
    + status (string, optional) - Filter Attendees by status of either `attending` or `not_attending`.
        + Members
            + attending - Attendee's status is either `Attending` or `Checked In`.
            + not_attending - Attendee's status is `Not Attending` or `Deleted`.
    + changed_since (datetime, optional) - Filter Attendees by resource changed on or after the time given.
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + attendees (array[Attendee])
# Group Balance

## Balance [/balance/]

Hosts
- test: `https://balance-api.jjzbds0g.ext.evbqa.com`
- dev: `https://balance-api.lxsadnd8.ext.evbdev.com`
- preprod: `https://balance-api.xypz0s6q.ext.evbstage.com`
- prod: `https://balance-api.fnii7z7a.ext.eventbrite.com`

### Remaining Balance [GET /balance/<public_organization_id>/events/<public_event_id>/]
Given an organization id and an event id returns an event-level balance specific to the time the endpoint is called

+ Parameters
    + `public_organization_id`: `5130962065` (string, required) - Public organization ID
    + `public_event_id`: `751490729` (string, required) - Public event ID

+ Request
    + Headers
            Authorization: Bearer SOA_TOKEN
            Content-Type: application/json

+ Response 200 (application/json)
    + Attributes
        + `balance`
            + `currency`: `USD` (string)
            + `event_id`: `751490729` (string)
            + `latest_order_id`: `18995157` (string)
            + `latest_timestamp`:  `2010-10-20T07:19:37` (string)
            + `organization_id`: `5130962065` (string)
            + `value`: 0 (number)

+ Response 500 (application/json)
    + Attributes (Error)
        + error (enum)
            + ServerError
        + satus_code: 500 (number)

+ Response 403 (application/json)
    + Attributes (Error)
        + error (enum)
            + NotAuthorized
        + satus_code: 403 (number)

+ Response 403 (application/json)
    + Attributes (Error)
        + error (enum)
            + SOATokenNotFound
        + satus_code: 403 (number)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum)
            + BadParams
        + satus_code: 400 (number)

+ Response 404 (application/json)
    + Attributes (Error)
        + error (enum)
            + NotFound
        + satus_code: 404 (number)

#### Permissions
- `event.billing.payouts_summary`


# Group Categories

<a name="categories_object"></a>
## Category Object
An overarching category that an event falls into (vertical). Examples are “Music”, and “Endurance”.

## Retrieve [/categories-get/]
### Category by ID [GET /categories/{id}/]
Gets a `category` by ID as ``category``.


+ Parameters
    + id: 1234 (required, string) - Category ID
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes
        + category (Category)

### Subcategory by ID [GET /subcategories/{subcategory_id}/]
Retrieve a Subcategory by Subcategory ID.


+ Parameters
    + subcategory_id: 12345 (required, string) - Subcategory ID
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes
        + subcategory (Subcategory)

## List [/categories/]
### List of Categories [GET /categories/]
Returns a list of Category as categories, including subcategories nested. Returns a paginated response.


+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes
        + locale: en_US (string)
        + pagination (Pagination)
        + categories (array[Category])

### List of Subcategories [GET /subcategories/]
List all available Subcategories. Returns a paginated response.


+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes
        + locale: en_US (string)
        + pagination (Pagination)
        + subcategories (array[Subcategory])
        + subcategory (Subcategory)








# Group Discount

<a name="discount_object"></a>
## Discount Object
The Discount object represents a discount that an Order owner can use when purchasing tickets to an [Event](#event_object).

A Discount can be used to a single [Ticket Class](#ticket_class_object) or across multiple Ticket Classes for multiple Events simultaneously (known as a cross event Discount).

There are four types of Discounts:

+ **Public Discount.** Publically displays Discount to Order owner on the Event Listing and Checkout pages. Only used with a single Event.
+ **Coded Discount.** Requires Order owner to use a secret code to access the Discount.
+ **Access Code.** Requires Order owner to use a secret code to access hidden tickets. Access codes can also optionally contain a discount amount. 
+ **Hold Discount.** Allows Order owner to apply or unlock Discount for seats on hold.

The display price of a ticket is calculated as: \
`price_before_discount` - `discount_amount` = `display_price`

Notes:
* Public and Coded Discounts can specify either an amount off or a percentage off, but not both types discounts.
* Public Discounts should not contain apostrophes or non-alphanumeric characters (except “-”, “_”, ” ”, “(”, ”)”, “/”, and “”).
* Coded Discounts and Access Codes should not contain spaces, apostrophes or non-alphanumeric characters (except “-”, “_”, “(”, ”)”, “/”, and “”).

#### Fields
Use these fields to specify information about a Discount.

|         Field         |       Type       |                                                                                              Description                                                                                              |
| :-------------------- | :--------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `code`                | `string`         | Discount name for a Public Discount, or the code for a Coded Discount and Access Code.                                                                                                                |
| `type`                | `string`         | Discount type. Can be `access`, `coded`, `public` or `hold`.                                                                                                                                          |
| `end_date`            | `datetime`       | Date until which the Discount code is usable. Date is naive and assumed relative to the timezone of an Event. If null or empty, the discount is usable until the Event end_date. ISO 8601 notation: `YYYY-MM-DDThh:mm:ss`.|
| `end_date_relative`   | `integer`        | End time in seconds before the start of the Event until which the Discount code is usable. If null or empty, the discount is usable until the Event end_date.                                         |
| `amount_off`          | `decimal`        | Fixed amount applied as a Discount. This amount is not expressed with a currency; instead uses the Event currency from 0.01 to 99999.99. Only two decimals are allowed. The default is `null` for an Access Code. |
| `percent_off`         | `decimal`        | Percentage amount applied as a Discount. Displayed in the ticket price during checkout, from 1.00 to 100.00. Only two decimals are allowed. The default is `null` for an Access Code.                             |
| `quantity_available`  | `integer`        | Number of times this Discount can be used; `0` indicates unlimited use.                                                                                                                               |
| `quantity_sold`       | `integer`        | Number of times this Discount has been used. This is a read only field.                                                                                                                               |
| `start_date`          | `local datetime` | Date from which the Discount code is usable. If null or empty, the Discount is usable effective immediately.                                                                                          |
| `start_date_relative` | `integer`        | Start time in seconds before the start of the Event from which the Discount code is usable. If null or empty, the Discount is usable effective immediately.                                           |
| `ticket_class_ids`    | `list`           | List of discounted Ticket Class IDs for a single Event. Leave empty if you want to see all the tickets for the Event.                                                                                 |
| `event_id`            | `string`         | Single Event ID to which the Discount can be used. Leave empty for Discounts.                                                                                                                         |
| `ticket_group_id`     | `string`         | [Ticket Group](#ticket_group_object) ID to which the Discount can be used.                                                                                                                            |
| `hold_ids`            | `list`           | List of hold IDs this discount can unlock. Null if this discount does not unlock a hold.                                                                                                              |

 The following conditions define the extend of the Discount:
* If `event_id` is provided and `ticket_class_ids` are not provided, a single Event Discount is created for all Event tickets.
* If both `event_id` and `ticket_class_ids` are provided, a single Event Discount is created for the specific Event  tickets.
* If `ticket_group_id` is provided, a Discount is created for the Ticket Group.
* If neither `event_id` nor `ticket_group_id` are provided, a Discount is created that applies to all tickets for an [Organization's](#organization_object) Events, including future Events.

#### Expansions
Information from expansions fields are not normally returned when requesting information. To receive this information in a request, expand the request.

|     Expansion      |               Source               |                                                                           Description                                                                            |
| :----------------- | :--------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `event`            | `event_id`                         | Single Event to which the Discount can be used.                                                                                                                  |
| `ticket_group`     | `ticket_group_id`                  | Ticket Group to which the Discount can be used.                                                                                                                  |
| `reserved_seating` | `ticket-reserved-seating-settings` | Reserved seating settings for the [Ticket Class](#ticket_class_object). This expansion is not returned for Ticket Classes that do not support reserved seasting. |

## Retrieve [/discounts/]
### Retrieve a Discount [GET /discounts/{discount_id}/]
Retrieve a Discount by Discount ID.


+ Parameters
    + discount_id: 12345 (string) - Discount ID.
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (Discount)

## Create [/discounts-create/]
### Create a Discount [POST /organizations/{organization_id}/discounts/]
Create a new Discount.


+ Parameters
    + organization_id: 12345 (string) - Organization ID.
+ Request
    + Attributes
        + discount (Discount Create)
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (Discount)
+ Response 400 (application/json)
    + Attributes (Discount Create Error)


## Update [/discounts-update/]
### Update a Discount [POST /discounts/{discount_id}/]
Update a Discount by Discount ID.


+ Parameters
    + discount_id: 12345 (string) - Discount ID.
+ Request
    + Attributes
        + discount (Discount Create)
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (Discount)
+ Response 400 (application/json)
    + Attributes (Discount Create Error)




## List [/discounts-list/]
### Search Discounts by Organization [GET /organizations/{organization_id}/discounts/{?scope}]
List Discounts by Organization ID. Returns a paginated response.


+ Parameters
    + organization_id: 12345 (string, required) - Organization ID.
    + scope: event (enum[string], required) - Discount scope.
        + Members
            + event
            + multi_events
            + user
    + `code_filter` (string, optional) - Filter Discounts by approximate match code or name.
    + code: abcde (string, optional) - Filter Discount by exact match code or name.
    + page_size: 1 (number, optional) - Number of records to display on each returned page.
    + type (enum[string], optional) - Discount type.
        + Members
            + coded - Discount with a code
            + access - Access codes
            + public - Public discounts
            + hold - Hold discount
    + ticket_group_id: 12345 (string, optional) - Filter Discounts by Ticket Group ID.
    + event_id: 12345 (string, optional) - Filter Discounts by Event ID. Required for the `event` scope.
    + order_by (enum[string], optional) - Response order.
        + Members
            + code_asc - By discount code, ascending
            + code_desc - By discount code, descending
            + discount_type_asc - By discount type, ascending
            + discount_type_desc - By discount type, descending
            + start_asc - By start date, ascending
            + start_desc - By start date, descending
    + hold_ids (array[string], optional) - Filter discounts to only those that apply to specified hold IDs. IDs are in composite id format for either hold class (H123) or hold inventory tier (I123)
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes
        + discounts (array[Discount])
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + CODE_AND_CODE_FILTER_PROVIDED - Only one of code or code_filter may be provided at the same time.
                + INVALID
                + INVALID_USAGE_FOR_EVENT_ID - Event ID can not be used along with multi_events discount_scope.
                + ORDER_BY_NOT_SUPPORTED - Code is the only field by which results may be ordered. Exactly one of code or code_filter filters must be provided for sorting to be allowed.


## Delete [/discounts-delete/]
### Delete a Discount [DELETE /discounts/{discount_id}/]
Delete a Discount. Only unused Discounts can be deleted.

<b>Warning:</b> A Discount cannot be restored after being deleted.


+ Parameters
    + discount_id: 12345 (string) - Discount ID.
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (Discount)
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + DISCOUNT_CANNOT_BE_DELETED - A discount that has been used cannot be deleted.
# Group Display Settings

<a name="display_settings_object"></a>
## Display Settings Object
The Display Settings object represents the settings that create the [Event](#event_object) display as shown on the Event Listing page. 

## Retrieve [/display-settings/]
### Retrieve Display Settings [GET /events/{event_id}/display_settings/]
Retrieve the Display Settings for an Event by Event ID.


+ Parameters
    + event_id: 12345 (string) - Event ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (Display Settings)

## Update [/display-settings-update/]
### Update Display Settings [POST /events/{event_id}/display_settings/]
Update Display Settings for an Event by Event ID.


+ Parameters
    + event_id: 12345 (string) - Event ID.
+ Request
   + Attributes
        + display_settings (Display Settings)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Display Settings)


# Group Event Capacity

## Event Capacity [/capacity_tier/]
A capacity tier is used for creating general admission holds against the event capacity rather than tiered inventory. If the event is using tiered inventory, GA holds should be created using the inventory tier endpoints and not capacity tier endpoints.

## Retrieve [/capacity_tier-retrieve/]

### Retrieve a Capacity Tier [GET /events/{event_id}/capacity_tier/]
Retrieve the capacity tier for an event.


+ Parameters
    + event_id: 5678 (string, required) - Event ID
+ Request
    + Headers
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (Capacity Tier)
+ Response 403 (application/json)
    + Attributes (Error)
        + error (enum)
            + NOT_AUTHORIZED
+ Response 404 (application/json)
    + Attributes (Error)
        + error (enum)
            + NOT_FOUND - The event you requested does not exist.

<a name="capacity_tier_update"></a>

## Update [/capacity_tier-update/]

### Update a Capacity Tier [POST /events/{event_id}/capacity_tier/]
Update the capacity tier for an event. Partial updates are supported. Submit only attributes that are changed.

These rules must apply when updating capacity tier:
- Sum of `quantity_total` from capacity holds cannot exceed remaining capacity quantity
- If the event is already oversold, new remaining capacity quantity cannot become further negative (oversold)

To **create GA capacity hold inventory tiers** for an event, include payload with `holds`. `capacity_total` must be supplied if event does not have a capacity set.

For example:
```json
{
    "capacity_total": 100,
    "holds": [
        {
            "name": "Marketing",
            "quantity_total": 10,
            "sort_order": 1,
        },
    ]
}
```

To **update/delete GA capacity hold inventory tiers** for an event, include payload with `holds` that contain `id` and fields of the hold tier to be updated. Deleting is the same as updating with `is_deleted` set to `true`.

Deleting a hold tier that has tickets sold or associated with attendees will be denied. `quantity_total` for a hold tier cannot be reduced below the quantity used (`quantity_sold` + `quantity_pending`). Payload can contain partial data/partial hold inventory tiers to be updated/deleted.

For example:
```json
{
    "holds": [
        {"id": "I987", "name": "Marketing"},  # update existing tier
        {"id": "I988", "is_deleted": true},  # delete existing tier
        {"name": "Accounting", "quantity_total": 10},  # create new tier
    ]
}
```


+ Parameters
    + event_id: 5678 (string, required) - Event ID
+ Request
    + Headers
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
    + Attributes (object)
        + capacity_tier (Capacity Tier Update)
+ Response 200 (application/json)
    + Attributes (Capacity Tier)
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum)
            + ARGUMENTS_ERROR - There are errors with your arguments.
            + HAS_ATTENDEES - You cannot delete a ticket class that has been purchased by attendees.
            + CAPACITY_TOTAL_TOO_SMALL - Capacity total is too small for oversold quantities
            + HOLD_QUANTITIES_EXCEEDS_REMAINING_CAPACITY - Sum of total remaining quantity from holds cannot exceed remaining capacity
+ Response 403 (application/json)
    + Attributes (Error)
        + error (enum)
            + NOT_AUTHORIZED
+ Response 404 (application/json)
    + Attributes (Error)
        + error (enum)
            + NOT_FOUND - The event you requested does not exist.
# Group Event Description

<a name="event_description"></a>
## Event Description

Event Descriptions have two representations:

1. A fully-rendered HTML version of the event summary AND event description, and
2. A "raw" version of the description that is broken up into its distinct modules.
To set and retrieve modules, please see the [Structured Content documentation](#structure_content_documentation).

For more in depth description for how to set the event description, please see the [event description tutorial](https://www.eventbrite.com/platform/docs/event-description).
                                           
                                                                                                                                                                                                                |
### Retrieve [/event-description-retrieve/]
### Retrieve Full HTML Description [GET /events/{event_id}/description/]

Returns the fully rendered description for an Event as a string of HTML. This endpoint will work with events created using New or Classic Create.
```json
{
 "description: <div>Example summary!<\/div>\n<div><P>My <EM>event's<\/EM> description would go <STRONG>here<\/STRONG>.<\/P><\/div>"
}
```

#### Permissions
`event.details:read`

+ Parameters
    + event_id: 12345 (string, required) - Event ID.
+ Response 200 (application/json)
    + Attributes
        + description (string)
+ Response 400 (application/json)
    + Attributes
        + error (enum[string])
            + NOT_AUTHORIZED - The user does not have permission to view details of this event.
            + ARGUMENTS_ERROR - event.id - INVALID: The identifier provided doesn't match a known event











# Group Event Schedule

<a name="schedule_object"></a>
## Event Schedule Object
The Event Schedule object is a set of rules that is used to add occurrences to a series parent event. A series parent event may have multiple schedules associated with it. Each schedule may only be associated with one series parent event.


<a name="schedules-create-api"></a>
## Create [/schedules-create/]
### Create an event schedule [POST /events/{event_id}/schedules/]

Creating an event schedule requires that a series parent event has already been created. For instructions on how to create a series parent event, please refer to the [Create Event API](#events-create-api).

Creating an event schedule will add occurrences to a series parent event, according to the pattern specified in the schedule. Each occurrence is backed by an [Event](#event_object), and will be associated with the series parent event specified in the request. If an occurrence specified by the schedule has the same date and time as an existing occurrence, the new occurrence is ignored and not created (the rest of the occurrences specified by the schedule are still created).


+ Parameters
    + event_id: 12345 (string, required) - Event ID. Must be a valid series parent event.
+ Request
    + Attributes
        + schedule (ScheduleBase)
    + Headers
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (Schedule)
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + MISSING - May be raised on event_id, occurrence_duration, or recurrence_rule. Indicates that the corresponding field is missing from the request.
            + INVALID - May be raised on event_id, occurrence_duration, or recurrence_rule. When raised on event_id: event_id must be a valid series parent event. When raised on occurrence_duration: occurrence duration must be between 0 and 7 days. When raised on recurrence_rule: recurrence_rule must follow the iCalendar RFC.
            + DTSTART_MISSING - The DTSTART component is missing from the recurrence_rule field.
            + RECURRENCE_RULE_DATES_NOT_IN_UTC - The DTSTART component in the recurrence_rule field must be in UTC. If present, the UNTIL component in the recurrence_rule must be in UTC.
            + DTSTART_OUTSIDE_PERMITTED_RANGE - The start date of this schedule must be within 2 years from now.
            + LAST_OCCURRENCE_START_EXCEEDS_LIMIT - The final event occurrence generated by this schedule must be within 4 years from now.
            + EXCEEDS_MAX_OCCURRENCES - Adding the occurrences specified by this schedule would result in exceeding the maximum number of allowed occurrences for the series parent event. The limit is 120 occurrences for the entire series.
+ Response 403 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + NOT_AUTHORIZED - User does not have permission to perform this action.
# Group Event Search
<a name="event_search"></a>

Lists public [Events](#event_object) from Eventbrite.

## List - deprecated [/event-search-list/]
### Search Events - deprecated [GET /events/search/]
List public Events from Eventbrite. Returns a paginated response.

>**Notice:** Access to this API was shut down at 11:59 pm PT on Thursday, December 12, 2019.

For more information regarding the shut down, refer to our [changelog](https://www.eventbrite.com/platform/docs/changelog).

+ Parameters
    + q (string, optional) - Return only those Events matching the given keyword(s). Accepts any string as a keyword.
    + sort_by: date (enum[string], optional) - Sort order of list of Events. Prefix with a hyphen to reverse the sort order.
        + Members
            + date
            + distance
            + best
    + location.address (string, optional) - The address of the location you want to search for Events around.
    + location.within (string, optional) - The distance you want to search around the given location. This should be an integer followed by “mi” or “km”.
    + location.latitude (string, optional) - The latitude of the location you want to search for Events around.
    + location.longitude (string, optional) - The longitude of the location you want to search for Events around.
    + location.viewport.northeast.latitude (string, optional) - The latitude of the northeast corner of a viewport.
    + location.viewport.northeast.longitude (string, optional) - The longitude of the northeast corner of a viewport.
    + location.viewport.southwest.latitude (string, optional) - The latitude of the southwest corner of a viewport.
    + location.viewport.southwest.longitude (string, optional) - The longitude of the southwest corner of a viewport.
    + organizer.id (string, optional) - Filter Events organized by the given Organizer ID.
    + user.id (string, optional) - Filter Events owned by the given User ID.
    + categories (string, optional) - Filter Events under the given category IDs. This should be a comma delimited string of category IDs
    + subcategories (string, optional) - Filter Events under the given subcategory IDs. This should be a comma delimited string of subcategory IDs.
    + formats (string, optional) - Filter Events with the given format IDs. This should be a comma delimited string of format IDs.
    + price: free (enum[string], optional) - Filter Events that are “free” or “paid”.
        + Members
                + free
                + paid
    + `start_date.range_start` (local-datetime, optional) - Filter Events with start dates after the given date.
    + `start_date.range_end` (local-datetime, optional) - Filter Events with start dates before the given date.
    + `start_date.keyword`: today (enum[string], optional) - Filter Events with start dates within the given keyword date range.
       + Members
                + this_week
                + next_week
                + this_weekend
                + next_month
                + this_month
                + tomorrow
                + today
    + `date_modified.range_start` (datetime, optional) - Filter Events with modified dates after the given UTC date.
    + `date_modified.range_end` (datetime, optional) - Filter Events with modified dates before the given UTC date.
    + `date_modified.keyword`: today (enum[string], optional) - Filter Events with modified dates within the given keyword date range.
        + Members
                + this_week
                + next_week
                + this_weekend
                + next_month
                + this_month
                + tomorrow
                + today
    + `search_type`: promoted (string, optional) - Use the preconfigured settings for this type of search - Current option is “promoted”.
    + `include_all_series_instances` (boolean, optional) - Boolean for whether or not you want to see all instances of repeating Events in search results.
    + `include_unavailable_events` (boolean, optional) - Boolean for whether or not you want to see Events without tickets on sale.
    + `include_adult_events` (boolean, optional) - Boolean for whether or not you want to see Events with adult content.
    + `incorporate_user_affinities` (boolean, optional) - Incorporate additional information from the user’s historic preferences.
    + `high_affinity_categories` (string, optional) - Make search results prefer Events in these categories. This should be a comma delimited string of category IDs.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + events (array[Event])
# Group Event Series

<a name="series_object"></a>
## Event Series Object
An Event Series is a repeating [Event](#event_object) with a sequence of multiple and various dates. These dates may or may not be in a predictable order.

An Event Series is made up of the parent Event, and child Events that represent each different date of the parent Event. Each child Event is created with the details of the parent Event.

For instructions on how to create an Event Series, please refer to the [Create Event API](#events-create-api).

## Retrieve [/series/]

### Retrieve an Event Series [GET /series/{event_series_id}/]
Retrieve the parent Event Series by Event Series ID. 


+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
+ Response 200 (application/json)
    + Attributes (Event)
        + `series_dates` (array[Event Series Date], optional) - The series dates of the parent event. (requires the `series_dates` expansion)

# Group Event Teams

Work with the team information of an event


## List [/event-teams/]
### List by Event [GET /events/{event_id}/teams/]
Returns a list of `teams` for the event. Returns a paginated response.


+ Parameters
    + `event_id`: 12345 (string, required) - The event ID that the teams will be retrieved from.
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + `teams` (array[Event Team Response])



## Retrieve [/event-team/]
### Retrieve Team [GET /events/{event_id}/teams/{team_id}/]
Returns information for a single `team`.


+ Parameters
    + `event_id`: 12345 (string, required) - The event ID that the team will be retrieved from.
    + `team_id`: 1 (string, required) - The team ID that will be retrieved.
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (Event Team Response)


## Attendees by Team [/event-team-attendees/]
### List Attendees by Team [GET /events/{event_id}/teams/{team_id}/attendees/]
Returns `attendee` for a single `team`. Returns a paginated response.


+ Parameters
    + `event_id`: 12345 (string, required) - The event ID that the team will be retrieved from.
    + `team_id`: 1 (string, required) - The team ID that will be retrieved.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + `attendees` (array[Attendee])


## Create [/event-team-create/]
### Create a Team [POST /events/{event_id}/teams/create/]
Create and returns a `team`.


+ Parameters
    + `event_id`: 12345 (string, required) - The event ID that the team will be created from.
+ Request
    + Attributes
        + public_event_id (string, required) - Public Event Id
        + name (string, optional) - Name of the team
        + password (string, optional) - Password of the team
        + preferred_start_time (string, optional) - Preferred start time the event
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (object)
        + `name` (string, required) - Team name
        + `id` (string, required) - Team ID
        + `token` (string, required) - Team token if has not password, else False
        + `spots_left` (number, required) - Return how many free spots are left on the team


## Check password [/event-team-check-password/]
### Verify password for a team [POST /events/{event_id}/teams/{team_id}/check_password/]
Verify that the password of a team is correct, and if so, and returns the token of the team


+ Parameters
    + `event_id`: 12345 (string, required) - The event ID of the team which the password will be checked
    + `team_id`: 1 (string, required) - The team ID which the password will be checked
+ Request
    + Attributes
        + password (string, required) - Password to verify
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (object)
        + `token` (string)


## Search [/event-teams-search/]
### Search teams by name Team [GET /events/{event_id}/teams/search/?term={term}]
Returns the teams of an event searched by name. Returns a paginated response.


+ Parameters
    + `event_id`: 12345 (string, required) - The event ID from which we want to search teams
    + `term`: team_search (string, required) - Search term.
+ Request
    + Headers

            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + `teams` (array)
            + (object)
                + `id` (string, required) - Team ID
                + `token` (string, required) - Team token if has not password, else False
                + `name` (string, required) - Team name
                + `has_password` (boolean, required) - Determines if the team has password
                + `is_full` (boolean, required) - Determines if the team capacity is currently full, false if team has no maximum capacity.
                + `logo` (string, required) - Url address with thumbnail logo. Returns False if team has not logo
                + `spots_left` (number, required) - Return how many free spots are left on the team
                + `is_team_member` (boolean, required) - Returns if the logged user is a member of the team.




# Group Event

<a name="event_object"></a>
## Event Object
The Event object represents an Eventbrite Event. An Event is owned by one [Organization](#organization_object).

#### Public Fields

Use these fields to specify information about an Event. For publicly listed Events, this information can be retrieved by all Eventbrite [Users](#user_object) and Eventbrite applications.

|       Field       |       Type       |                                               Description                                               |
| :---------------- | :--------------- | ------------------------------------------------------------------------------------------------------- |
| `name`            | `multipart-text` | Event name.                                                                                             |
| `summary`         | `string`         | (Optional) Event summary. Short summary describing the event and its purpose.                           |
| `description`     | `multipart-text` | (*DEPRECATED*) (Optional) Event description. Description can be lengthy and have significant formatting.               |
| `url`             | `string`         | URL of the Event's Listing page on eventbrite.com.                                                      |
| `start`           | `datetime-tz`    | Event start date and time.                                                                              |
| `end`             | `datetime-tz`    | Event end date and time.                                                                                |
| `created`         | `datetime`       | Event creation date and time.                                                                           |
| `changed`         | `datetime`       | Date and time of most recent changes to the Event.                                                      |
| `published`       | `datetime`       | Event publication date and time.                                                                        |
| `status`          | `string`         | Event status. Can be `draft`, `live`, `started`, `ended`, `completed` and `canceled`.                   |
| `currency`        | `string`         | Event [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.                                 |
| `online_event`    | `boolean`        | true = Specifies that the Event is online only (i.e. the Event does not have a [Venue](#venue_object)). |
| `hide_start_date` | `boolean`        | If true, the event's start date should never be displayed to attendees.                                     |
| `hide_end_date`   | `boolean`        | If true, the event's end date should never be displayed to attendees.                                       |

#### Private Fields

Use these fields to specify properties of an Event that are only available to the [User](#user_object).

|        Field         |   Type    |                                                                                                Description                                                                                                |
| :------------------- | :-------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `listed`             | `boolean` | true = Allows the Event to be publicly searchable on the Eventbrite website.                                                                                                                              |
| `shareable`          | `boolean` | true = Event is shareable, by including social sharing buttons for the Event to Eventbrite applications.                                                                                                  |
[...]
