.header__container {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.header {
   padding: 3rem;
}

.header__logo {
   flex: 0 0 350px;
}

.header__navigation {
   flex: 1;
}

.header__navigation nav ul {
   list-style: none;
   display: flex;
   justify-content: space-around;
   margin: 0;
}

.header__navigation a {
   font-size: 1.15rem;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--test);
   text-decoration: none;
   transition: color .3s;
}

.header__navigation a:hover {
   color: #888;
}

.title {
   cursor: pointer;
   max-width: 100px;
}

.logo {
   width: 50px;
   height: 50px;
   cursor: pointer;
}

.sidecar-logo {
   max-height: 15px;
  margin-right: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.app-header {
   border-bottom: 1px solid #E9EDEB;
   background: #fff;
   margin-top: 0px ;
   margin-left: 25px;
   margin-right:  0px; 
   margin-bottom: 0px;
   padding: 15px 0;
   padding-right: 25px;
   /* line-height: 80px; */
   box-shadow: none;
}

@media (max-width: 767px) {
   .app-header {
      max-width: 100%;
      padding: 5px 16px;
      line-height: 52px;
      box-shadow: none;
      box-sizing: border-box;
   }
  .app-header .k-appbar-section .title {
     display: none;
  }

  .logo {
     width: 42px;
     height: 42px;
  }
}

/* @media screen and (min-width: 1401px) {
   .app-header {
       max-width: 1320px;
   }
}
@media screen and (max-width: 1199px) {
   .app-header {
       max-width: 960px;
   }
}
@media screen and (max-width: 991px) {
   .app-header {
       max-width: 720px;
   }
} */
