name: Test migrations

on:
  workflow_dispatch:
  push:
    branches:
      - next
    paths:
      - 'migrations/**'

jobs:
  test-migrations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validate migration filenames
        run: ./.github/scripts/validate-migration-filenames.sh

      - name: Create docker network
        run: docker network create -d bridge local-net

      - name: Create SQL Server container
        run: docker run --rm -d --network local-net --name sql -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=VeryStr0ngP@ssw0rd" -p 1433:1433 mcr.microsoft.com/mssql/server:2022-latest

      - name: Wait for SQL Server to be ready
        run: sleep 20  # Give SQL Server time to initialize

      - name: Create SQL database
        run: docker run --rm --network local-net mcr.microsoft.com/mssql-tools /opt/mssql-tools/bin/sqlcmd -S sql -U SA -P 'VeryStr0ngP@ssw0rd' -Q "CREATE DATABASE [test];"

      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install MJ CLI globally
        run: npm install --global @memberjunction/cli

      - name: Run mj migrate locally
        run: mj migrate
        env:
          DB_HOST: localhost
          DB_DATABASE: test
          DB_USERNAME: sa
          DB_PASSWORD: VeryStr0ngP@ssw0rd
          CODEGEN_DB_USERNAME: sa
          CODEGEN_DB_PASSWORD: VeryStr0ngP@ssw0rd
          DB_TRUST_SERVER_CERTIFICATE: 'true'
